<script lang="ts">
  import { createEventDispatcher } from 'svelte';
  import { Spin } from '$lib';
  import getVariant from './getVariant';

  type Variant = 'filled' | 'outlined' | 'text' | 'elevated' | 'tonal';
  type Shape = 'normal' | 'icon';

  type $$Props = {
    filled?: boolean;
    outlined?: boolean;
    text?: boolean;
    elevated?: boolean;
    tonal?: boolean;
    // TODO: add "filled-tonal" variant: https://m3.material.io/components/buttons/guidelines#07a1577b-aaf5-4824-a698-03526421058b
    variant?: Variant | undefined;
    icon?: boolean;
    shape?: Shape | undefined;
    class?: string;
    disabled?: boolean;
    loading?: boolean;
    root?: HTMLButtonElement | undefined;
  
  }

  export let filled = false;
  export let outlined = false;
  export let text = false;
  export let elevated = false;
  export let tonal = false;
  export let variant: Variant | undefined = undefined;
  export let icon = false;
  export let shape: Shape | undefined = undefined;
  export let disabled = false;
  export let loading = false;
  export let root: HTMLButtonElement | undefined = undefined;

  const dispatch = createEventDispatcher<{ click: void }>();

  $: _variant = getVariant({
    default: 'filled',
    flags: { filled, outlined, text, elevated, tonal },
    variant,
  });

  $: _shape = getVariant({
    default: 'normal',
    flags: { icon, normal: false },
    variant: shape,
  });

  function handleClick() {
    if (loading) return;

    dispatch('click');
  }
</script>

<button
  {disabled}
  bind:this={root}
  class="{_variant} {_shape} {$$restProps.class || ''}"
  class:loading
  on:click={handleClick} on:mouseover on:mouseleave on:focus on:blur
>
  <div
    class="state-layer"
    class:has-leading={$$slots.leading}
    class:has-trailing={$$slots.trailing}
    class:opacity-0={loading}
  >
    <slot name="leading" />
    <div class="content">
      <slot />
    </div>
    <slot name="trailing" />
  </div>
  {#if loading}
    <div class="state-layer loading-layer">
      <div class="content">
        <Spin />
      </div>
    </div>
  {/if}
</button>

<style lang="postcss">
  /*
  Notes:
  - each variant set itself disabled colors
  - state layer opacity is setted 1 time for all variants

  TODO:
  - Create outlined variant
  - Create elevated variant
  - Create shape props
    - icon
    - fab
    - extendedFab
  */
  button {
    --dynamic-fallback: var(--primary);
    --on-dynamic-fallback: var(--on-primary);
    --dynamic-container-fallback: var(--primary-container);
    --on-dynamic-container-fallback: var(--on-primary-container);
    --inverse-dynamic-fallback: var(--inverse-primary);

    @apply rounded-full overflow-hidden relative text-label-large transition-colors;
  }
  .content {
    @apply flex-1 flex justify-center;
  }
  .loading-layer {
    @apply absolute inset-0;
  }
  .state-layer {
    @apply h-10 flex items-center gap-2 rounded-[inherit] transition-colors;
  }
  .normal .state-layer {
    @apply px-6 py-[0.625rem];
  }
  .icon .state-layer {
    @apply w-10;
  }
  .state-layer > :global(*) {
    @apply shrink-0;
  }
  .state-layer.has-leading {
    @apply pl-4;
  }
  .state-layer.has-trailing {
    @apply pr-4;
  }
  /* #region Layer opacity by states */
  button .state-layer {
    @apply !bg-opacity-0;
  }
  button:not(:disabled):not(.loading):hover .state-layer {
    @apply !bg-opacity-state-hover;
  }
  button:not(:disabled):not(.loading):active .state-layer {
    @apply !bg-opacity-state-pressed;
  }
  /* #endregion Layer opacity by states */

  /* #region Filled variant */
  .filled {
    @apply bg-dynamic;
  }
  .filled .state-layer {
    @apply text-on-dynamic bg-on-dynamic;
  }
  .filled:not(:disabled):not(.loading):hover {
    @apply shadow-elevation-1;
  }
  .filled:not(:disabled):not(.loading):active {
    @apply shadow-none;
  }
  .filled:disabled {
    @apply opacity-state-disabled bg-transparent;
  }
  .filled:disabled .state-layer {
    @apply bg-on-surface !bg-opacity-[0.12] text-on-surface;
  }
  /* #endregion */

  /* #region Text variant */
  .text .state-layer {
    @apply bg-primary text-primary;
  }
  .text:disabled {
    @apply opacity-state-disabled;
  }
  .text:disabled .state-layer {
    @apply text-on-surface;
  }
  /* #endregion */

  /* #region Tonal variant */
  .tonal {
    @apply bg-secondary-container;
  }
  .tonal .state-layer {
    @apply bg-on-secondary-container text-on-secondary-container
  }

  .tonal:not(:disabled):not(.loading):hover {
    @apply shadow-elevation-1;
  }
  .tonal:not(:disabled):not(.loading):active {
    @apply shadow-none;
  }

  .tonal:disabled {
    @apply opacity-state-disabled bg-transparent;
  }
  .tonal:disabled .state-layer {
    @apply bg-on-surface !bg-opacity-[0.12] text-on-surface;
  }
  /* #endregion */
</style>
