<script lang="ts">
  import type { SvelteHTMLElements } from 'svelte/elements';
  import getVariant from './getVariant';

  type Variant = 'outlined' | 'elevated' | 'filled';

  type $$Props = SvelteHTMLElements['button'] & {
    outlined?: boolean;
    elevated?: boolean;
    filled?: boolean;
    variant?: Variant;
    // surface?: boolean;
    interactive?: boolean;
  };

  export let variant: Variant | undefined = undefined;
  export let elevated: boolean = false;
  export let outlined: boolean = false;
  export let filled: boolean = false;
  // export let surface: boolean = false;
  export let interactive: boolean = false;

  $: variant = getVariant({
    variant,
    default: 'outlined',
    flags: { outlined, elevated, filled }, // , surface },
  });
</script>

<div
  {...$$restProps}
  class:elevated={variant === 'elevated'}
  class:outlined={variant === 'outlined'}
  class:filled={variant === 'filled'}
  class:interactive
  class="card {$$restProps.class || ''}"
  tabindex="-1"
  role={interactive ? $$restProps.role || 'button' : undefined}
  on:mouseenter
  on:mouseleave
  on:click
  on:focus
  on:blur
>
  <slot />
</div>

<style>
  .card {
    @apply relative rounded-xl overflow-hidden outline-none;
  }
  .interactive {
    @apply cursor-pointer;
  }
  .card.interactive::before {
    @apply pointer-events-none absolute top-0 right-0 bottom-0 left-0 rounded-[inherit];
  }

  /* Interactive option */
  .card.interactive:hover::before {
    content: "";
    @apply bg-on-surface bg-opacity-state-hover;
  }
  .card.interactive:active::before {
    content: "";
    @apply bg-on-surface bg-opacity-state-pressed;
  }

  /* Outlined variant */
  .outlined {
    @apply border border-outline-variant;
  }

  /* Filled variant */
  .filled {
    @apply bg-surface-container-highest;
  }

  /* Elevated variant */
  .elevated {
    @apply bg-surface-container-low shadow-elevation-1;
  }
</style>
