<script lang="ts">
  type $$Props = {
    class?: string;
    // interactive?: boolean;
    selected?: boolean;
  };

  // export let interactive = false;
  export let selected = false;

  // TODO: Add styles for interactive prop
</script>

<button
  {...$$restProps}
  class:selected
  on:click
>
  <div class="layer">
    <slot />
  </div>
</button>

<style>
  button {
    --dynamic-container-fallback: var(--secondary-container);
    --on-dynamic-container-fallback: var(--on-secondary-container);

    @apply rounded-lg border border-outline h-8 text-on-surface-variant shrink-0 cursor-auto;
    @apply inline-flex justify-center items-center;
  }
  .layer {
    @apply text-label-large text-center px-3 py-[0.375rem];
    @apply flex justify-center items-center gap-2;
  }
  .layer :global(svg) {
    @apply w-[1.125rem] h-[1.125rem];
  }

  button.selected {
    @apply border-dynamic-container bg-dynamic-container text-on-dynamic-container;
  }
</style>
