<script lang="ts">
  import { createEventDispatcher } from 'svelte';
  import Portal from 'svelte-portal';
  import createOutsideClick from './createOutsideClick';

  type $$Props = {
    class?: string;
    visible?: boolean;
    portal?: string;
  };

  export let visible: boolean = true;
  export let portal: string = '';

  const dispatch = createEventDispatcher<{ outsideClick: void }>();
  const outsideClick = createOutsideClick(() => {
    if (visible) dispatch('outsideClick');
  });
</script>

{#if visible}
  <Portal target={portal || '#bucketh'}>
    <div class="scrim">
      <div {...$$restProps} use:outsideClick class="dialog {$$restProps.class}">
        <slot />
        {#if $$slots.hero || $$slots.title || $$slots.text}
          <!-- Text Content -->
          <div class="pt-6 px-6 flex flex-col gap-4">
            {#if $$slots.hero}
              <div class="self-stretch flex justify-center text-secondary">
                <slot name="hero"/>
              </div>
            {/if}
            {#if $$slots.title}
              <div class="self-stretch text-center text-headline-small text-on-surface">
                <slot name="title" />
              </div>
            {/if}
            {#if $$slots.text}
              <div class="self-stretch text-body-medium text-on-surface-variant">
                <slot name="text" />
              </div>
            {/if}
          </div>
        {/if}
        <slot name="body" />
        <div class="p-6 flex justify-end">
          <slot name="actions" />
        </div>
      </div>
    </div>
  </Portal>
{/if}

<style>
  .scrim {
    @apply absolute inset-0 bg-scrim bg-opacity-[0.32] grid place-items-center z-50;
  }
  .dialog {
    @apply relative rounded-[1.75rem] bg-surface-container-high;
  }
</style>
