<script lang="ts">
  import type { HTMLButtonAttributes } from 'svelte/elements';
  import getVariant from './getVariant';
  import Spin from './Spin.svelte';

  type Variant = 'small' | 'large' | 'extended';
  type $$Props = HTMLButtonAttributes & {
    small?: boolean;
    large?: boolean;
    extended?: boolean;
    variant?: Variant | undefined;
    loading?: boolean;
  };

  export let small: boolean = false;
  export let large: boolean = false;
  export let extended: boolean = false;
  export let loading: boolean = false;
  export let variant: Variant | undefined = undefined;

  $: size = getVariant({
    variant,
    default: 'normal',
    flags: { small, large, extended, normal: true },
  });
</script>

<button {...$$restProps} class="{size} {$$restProps.class}" on:click on:focus on:blur on:mouseenter on:mouseleave>
  <div class="state-layer" class:opacity-0={loading}>
    <slot />
  </div>
  {#if loading}
    <div class="state-layer loading-layer">
      <Spin />
    </div>
  {/if}
</button>

<style>
  button {
    --dynamic-container-fallback: var(--surface-container-high);
    --on-dynamic-container-fallback: var(--primary);

    @apply overflow-hidden relative bg-dynamic-container text-on-dynamic-container text-label-large shadow-elevation-3 transition-all;
  }
  .state-layer {
    @apply rounded-[hinerit] flex flex-row gap-3 items-center justify-center;
  }
  .loading-layer {
    @apply absolute inset-0;
  }
  button :global(svg) {
    @apply w-6 h-6;
  }

  /* States */
  button:hover { @apply shadow-elevation-4; }
  button:hover .state-layer {
    @apply bg-on-dynamic-container bg-opacity-[0.08];
  }

  button:active { @apply shadow-elevation-3; }
  button:active .state-layer {
    @apply bg-on-dynamic-container bg-opacity-[0.12];
  }

  /* Sizes */
  .small { @apply rounded-xl; }
  .small .state-layer { @apply p-2; }

  .normal { @apply rounded-2xl; }
  .normal .state-layer { @apply p-4; }

  .large { @apply rounded-[1.75rem]; }
  .large .state-layer { @apply p-[1.875rem]; }
  .large :global(svg) { @apply w-9 h-9; }

  .extended { @apply rounded-2xl; }
  .extended .state-layer { @apply p-4 pr-6; }
</style>
