<script lang="ts" context="module">
  import { getContext, setContext } from 'svelte';
  import { writable, type Readable } from 'svelte/store';

  type FieldContext = {
    disabled: boolean;
  };

  export function getFieldContext() {
    return getContext('bucketh:field') as Readable<FieldContext>;
  }

  function setFieldContext(context: Readable<FieldContext>) {
    setContext('bucketh:field', context);
  }
</script>

<script lang="ts">
  import getVariant from './getVariant';

  type Variant = 'filled' | 'outlined';
  type $$Props = {
    root?: HTMLDivElement;
    label?: string;
    class?: string;
    variant?: Variant;
    filled?: boolean;
    outlined?: boolean;
    populateLabel?: boolean;
    error?: boolean;
    disabled?: boolean;
    supporting?: string;
    id?: string;
    for?: string;
    readonly?: boolean;
  };

  export let root: HTMLDivElement = null as any;
  export let label = '';
  export let variant: Variant = 'outlined';
  export let filled = false;
  export let outlined = false;
  export let populateLabel = false;
  export let error = false;
  export let disabled = false;
  export let id: string | undefined = undefined;
  export let supporting = '';
  export let readonly = false;

  let context = writable<FieldContext>({ disabled });
  setFieldContext(context);

  $: $context.disabled = disabled;
  $: labeled = !!label;
  $: populated = populateLabel;
  $: _variant = getVariant({
    variant,
    flags: { outlined, filled },
    default: 'outlined',
  });
</script>

<div
  {id}
  class="root {_variant} {$$props.class || ''}"
  class:error
  class:labeled
  class:disabled
  class:populated
  class:readonly
  bind:this={root}
>
  <div class="content">
    <div class="leading"><slot name="leading" /></div>
    <div class="field">
      <slot />
    </div>
    <div class="trailing"><slot name="trailing" /></div>
    {#if _variant === 'outlined'}
      <fieldset>
        {#if label}
          <legend>{label}</legend>
        {/if}
      </fieldset>
    {/if}
    {#if _variant === 'filled'}
      <div class="indicator" />
    {/if}
    {#if label}
      <div class="label">
        {label}
      </div>
    {/if}
  </div>
  {#if supporting}
    <div class="supporting">
      {supporting}
    </div>
  {/if}
</div>

<style>
  .root {
    @apply flex flex-col gap-1 text-on-surface-variant;
  }
  .root:focus-within:not(.disabled):not(.readonly) {
    --dynamic-600: var(--primary);
    --dynamic-200: var(--primary);
  }
  .root.error:not(.disabled) {
    --dynamic-600: var(--error) !important;
    --dynamic-200: var(--error) !important;
  }
  .root.disabled {
    --dynamic-600: var(--on-surface-variant);
    --dynamic-200: var(--on-surface-variant);
    @apply opacity-state-disabled pointer-events-none cursor-not-allowed;
  }

  .supporting {
    @apply px-4 text-body-small text-dynamic truncate;
  }

  .content {
    @apply relative grid place-content-stretch min-h-14;
  }
  .filled .content {
    @apply bg-surface-container-highest rounded-t;
  }

  .leading > :global(*),
  .trailing > :global(*) {
    @apply w-12 h-12 grid place-items-center;
  }

  .leading {
    @apply absolute top-1 left-0;
  }

  .trailing {
    @apply absolute top-1 right-0;
  }

  fieldset {
    @apply absolute inset-0 border border-outline rounded pointer-events-none;
  }
  .root:focus-within:not(.readonly) fieldset,
  .root.error fieldset {
    @apply border-dynamic;
  }
  .root:focus-within:not(.disabled):not(.readonly) fieldset {
    @apply border-2;
  }

  legend {
    @apply text-body-small opacity-0 !leading-[0px];
    @apply ml-3 w-0 px-0;
  }
  .root:focus-within:not(.disabled):not(.readonly) legend,
  .root:not(:has(*:placeholder-shown)) legend,
  .root.populated legend {
    @apply w-auto px-1;
  }

  .indicator {
    @apply absolute bottom-0 left-0 w-full h-0 border-b border-dynamic;
  }
  .root:focus-within:not(.disabled):not(.readonly) .indicator {
    @apply border-b-2;
  }

  .label {
    @apply transition-all pointer-events-none;
    @apply absolute left-4 top-4 text-body-large text-dynamic;
  }
  /* populate label */
  .root:focus-within:not(.disabled):not(.readonly) .label,
  .root:not(:has(*:placeholder-shown)) .label,
  .root.populated .label {
    @apply top-0 text-body-small !leading-[0px];
  }
  /* populate label on filled */
  .filled:focus-within:not(.disabled):not(.readonly) .label,
  .filled:not(:has(*:placeholder-shown)) .label,
  .filled.populated .label {
    @apply top-4;
  }
  /* label indentation */
  .filled.populated .label,
  .filled:has(.leading *) .label,
  .root.disabled:has(.leading *):has(*:placeholder-shown) .label,
  .root:not(.populated):has(.leading *):not(:focus-within):has(*:placeholder-shown) .label,
  .root.readonly:not(.populated):has(.leading *):has(*:placeholder-shown) .label {
    @apply left-12;
  }

  .field {
    @apply text-body-large text-on-surface flex;
  }

  /* Field element */
  .field > :global(*) {
    @apply px-4 flex-1 min-w-0 outline-none bg-transparent;
  }
  .root:has(.leading *) .field > :global(*) {
    @apply pl-12;
  }
  .root:has(.trailing *) .field > :global(*) {
    @apply pr-12;
  }
  /* filled */
  .filled.labeled .field > :global(*) {
    @apply pt-3;
  }
  /* filled textatea */
  .field > :global(textarea) {
    @apply pt-4;
  }
  .filled.labeled .field > :global(textarea) {
    @apply pt-6;
  }
</style>
