<script lang="ts">
  // DEPRECATED
  import type { HTMLAttributes } from 'svelte/elements';
  import getVariant from './getVariant.js';

  type $$Props = HTMLAttributes<HTMLDivElement> & {
    root?: HTMLDivElement;
    enabled?: boolean;
    disabled?: boolean;
    error?: boolean;
    label?: string;
    labelCollapsed?: boolean;
    supporting?: string | null;
    hasLeading?: boolean;
    hasTrailing?: boolean;
    hasNoValue?: boolean;
  };

  export let root: HTMLDivElement = null as any;
  export let disabled: boolean = false;
  export let error: boolean = false;
  export let label: string = '';
  export let labelCollapsed: boolean = false;
  export let supporting: string | null = '';
  export let hasLeading: boolean = false;
  export let hasTrailing: boolean = false;
  export let hasNoValue: boolean = false;

  $: state = getVariant({
    variant: undefined,
    flags: { disabled, error, enabled: true },
    default: 'enabled',
  });

  /*
  TODO:
  - Add tailwind util for configurable background
  */
</script>

<!-- Use dedicated slots for trailing/leading icons when https://github.com/sveltejs/svelte/issues/5604 -->

<div
  {...$$restProps}
  class="root inline-flex {$$restProps.class}"
  class:disabled={state === 'disabled'}
  class:error={state === 'error'}
  class:hasLeading
  class:hasTrailing
  class:labelCollapsed
  class:hasNoValue
  bind:this={root}
>
  <div class="wrapper contain">
    <slot />
    {#if label}
      <div class="label">
        {label}
      </div>
    {/if}
  </div>
  {#if supporting}
    <div class="supporting">
      {supporting}
    </div>
  {/if}
</div>

<style>
  /* Utils */
  .contain {
    @apply flex items-stretch justify-stretch;
  }

  /* Elements */
  .root {
    --pl: theme(space.4);
    --pr: theme(space.4);
    @apply relative flex-col items-stretch justify-stretch;
  }
  .hasLeading {
    --pl: theme(space.14);
  }
  .hasTrailing {
    --pr: theme(space.14);
  }

  .wrapper {
    @apply relative rounded min-h-[3.5rem] bg-surface text-on-surface text-body-large;
  }
  .wrapper::before {
    content: '';
    @apply pointer-events-none absolute top-0 right-0 bottom-0 left-0 rounded border border-outline;
  }
  .wrapper > :global(:first-child) {
    @apply pl-[--pl] pr-[--pr];
    @apply bg-transparent outline-none w-full py-1 caret-primary;
  }
  .hasNoValue .wrapper > :global(:first-child) {
    @apply text-transparent;
  }

  .label {
    @apply absolute left-[--pl] top-4 px-1 bg-surface text-on-surface-variant pointer-events-none transition-all;
  }
  .wrapper:focus-within .label,
  .labelCollapsed .label {
    @apply -top-2 left-4 text-body-small;
  }

  .supporting {
    @apply px-4 pt-1 text-on-surface-variant text-body-small;
  }

  /* Fixing input types */
  .wrapper :global(textarea:first-child) {
    @apply pt-4;
  }

  /* Focus state */
  .wrapper:focus-within::before {
    @apply border-2 border-primary;
  }
  .wrapper:focus-within .label {
    @apply text-primary;
  }
  .hasNoValue:focus-within .wrapper > :global(:first-child) {
    @apply text-on-surface;
  }

  /* Error state */
  .error .wrapper::before {
    @apply border-error;
  }
  .error .wrapper .label {
    @apply text-error;
  }
  .error .supporting {
    @apply text-error;
  }
  .error .wrapper > :global(:first-child) {
    @apply caret-error;
  }

  /* Disabled state */
  .disabled {
    opacity: 0.38;
  }
</style>
