<script lang="ts">
  interface $$Props {
    leading?: boolean;
    disabled?: boolean;
    class?: string;
  }

  export let leading: boolean = false;
  export let disabled: boolean = false;
</script>

<button
  {disabled}
  class={$$restProps.class || ''}
  class:left-2={leading}
  class:right-2={!leading}
  on:click
  on:focus
  on:blur
>
  <slot />
</button>

<style>
  button {
    @apply text-on-surface-variant w-10 h-10 grid place-items-center absolute top-2;
  }
  button:disabled {
    @apply opacity-state-disabled;
  }
</style>
