<script lang="ts">
  // DEPRECATED
  import { createEventDispatcher } from 'svelte';
  import type { HTMLInputAttributes } from 'svelte/elements';
  import InputWrapper from './InputWrapper.svelte';

  type InputType = Exclude<HTMLInputAttributes['type'], null | undefined>;

  interface $$Props extends HTMLInputAttributes {
    // input props
    input?: HTMLInputElement;
    type?: InputType;
    value?: string | null;

    // input wrapper props
    root?: HTMLDivElement;
    enabled?: boolean;
    disabled?: boolean;
    error?: boolean;
    label?: string;
    supporting?: string | null;
    isEmpty?: boolean;
    hasLeading?: boolean;
    hasTrailing?: boolean;

    // logic props
    controlled?: boolean;
  }

  // input props
  export let input: HTMLInputElement = null as any;
  export let type: InputType = 'text';
  export let value: number | string | null = null;

  // input wrapper props
  export let root: HTMLDivElement = null as any;
  export let enabled: boolean = false;
  export let disabled: boolean = false;
  export let error: boolean = false;
  export let label: string = '';
  export let supporting: string | null= '';
  export let placeholder: string | null | undefined = '';
  export let hasLeading: boolean = false;
  export let hasTrailing: boolean = false;
  export let controlled: boolean | undefined = false;

  const dispatch = createEventDispatcher<{
    input: string;
  }>();
  
  $: labelCollapsed = !!placeholder || !!value;
  $: hasNoValue = !value;

  type InputEvent = Event & {
    currentTarget: EventTarget & HTMLInputElement;
  };

  function handleInput(e: InputEvent) {
    if (!controlled) {
      value = e.currentTarget.value;
    }
    dispatch('input', e.currentTarget.value);
  }
</script>

<InputWrapper
  bind:root
  class={$$restProps.class}
  {enabled}
  {disabled}
  {error} 
  {label} 
  {supporting}
  {hasLeading}
  {hasTrailing}
  {labelCollapsed}
  {hasNoValue}
>
  <input
    {type}
    {value}
    {placeholder}
    size="15"
    {...$$restProps}
    {disabled}
    class=""
    bind:this={input}
    on:input={handleInput}
    on:change
    on:keyup
    on:keydown
    on:keypress
    on:focus
    on:blur
  />
  <slot />
</InputWrapper>
