<script lang="ts">
  import type { HTMLAttributes } from 'svelte/elements';

  type $$Props = HTMLAttributes<HTMLLIElement> & {
    root?: HTMLLIElement | undefined;
    interactive?: boolean;
  };

  export let root: HTMLLIElement | undefined = undefined;
  export let interactive: boolean = false;
</script>

<!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
<li
  {...$$restProps}
  bind:this={root}
  class="{$$restProps.class || ''}"
  class:interactive
  on:click
>
  <slot name="leading" />
  <div class="flex-1">
    <slot />
  </div>
  <slot name="trailing" />
</li>

<style>
  li :global(b) {
    @apply block text-on-surface text-body-large;
  }
  li {
    @apply flex items-center gap-4 text-body-medium text-on-surface-variant pl-4 py-3 pr-6;
  }
  li.interactive {
    @apply cursor-pointer rounded;
  }
  li.interactive:hover {
    @apply bg-on-surface bg-opacity-state-hover;
  }
  li.interactive:active {
    @apply bg-on-surface bg-opacity-state-pressed;
  }
</style>
