<script lang="ts">
  import type { HTMLAttributes } from 'svelte/elements';

  type $$Props = HTMLAttributes<HTMLUListElement> & {
    root?: HTMLUListElement | undefined;
  };

  export let root: HTMLUListElement | undefined = undefined;
</script>

<ul {...$$restProps} bind:this={root}>
  <slot />
</ul>
