<script lang="ts">
  type $$Props = {
    class?: string;
    root?: HTMLUListElement | undefined;
  };

  export let root: HTMLUListElement | undefined = undefined;
</script>

<!-- svelte-ignore a11y-click-events-have-key-events -->
<!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
<ul
  on:click
  bind:this={root}
  class="py-2 text-body-large bg-surface-container rounded shadow-elevation-2 {$$props.class || ''}"
>
  <slot />
</ul>

<style lang="postcss">
  ul :global(hr) {
    @apply my-2 border-outline-variant;
  }
</style>