<script lang="ts">
  import type { ComponentProps } from 'svelte';
  import MenuList from './MenuList.svelte';
  import { getPositionName, getPositionRect } from './Menu';
  import type { MenuPositionConfig } from './Menu.types';
  import useOutsideClick from './useOutsideClick';

  type $$Props = ComponentProps<MenuList> & {
    anchor?: HTMLElement;
    position?: MenuPositionConfig;
    prefer?: MenuPositionConfig | [MenuPositionConfig, ...MenuPositionConfig[]];
    visible?: boolean;
    class?: string;
  };

  export let anchor: $$Props['anchor'] = undefined;
  export let position: MenuPositionConfig = 'auto';
  export let visible: boolean = false;
  export let prefer: MenuPositionConfig | [MenuPositionConfig, ...MenuPositionConfig[]] = 'auto';

  let menuElement: HTMLUListElement;

  const setElements = useOutsideClick(() => {
    visible = false;
  });

  $: setElements(menuElement, anchor);

  $: if (menuElement && anchor) {
    const positionName = getPositionName({
      menuElement,
      anchorElement: anchor,
      forcedPosition: position,
      preferedPositions: prefer instanceof Array ? prefer : [prefer],
    });

    const positionRect = getPositionRect({
      anchor: anchor.getBoundingClientRect(),
      menu: menuElement.getBoundingClientRect(),
      position: positionName,
    });

    menuElement.style.left = `${positionRect.left}px`;
    menuElement.style.top = `${positionRect.top}px`;
  }
</script>

{#if visible}
  <MenuList
    class="fixed z-50 {$$props.class || ''}"
    bind:root={menuElement}
  >
    <slot />
  </MenuList>
{/if}
