<script lang="ts">
  type $$Props = {
    class?: string;
    label?: string;
    supporting?: string;
    small?: boolean;
    large?: boolean;
    leading?: boolean;
    disabled?: boolean;
  };

  export let label: string = '';
  export let supporting: string = '';
  export let small: boolean = false;
  export let large: boolean = false;
  export let leading: boolean = false;
  export let disabled: boolean = false;

  $: size = supporting || large ? 'large' as const
    : small ? 'small' as const
    : '' as const;
</script>

<!-- svelte-ignore a11y-click-events-have-key-events -->
<!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
<li class="{$$props.class || ''}" on:click>
  <div class="layer {size}" class:disabled>
    {#if $$slots.leading}
      <div class="w-6 h-6">
        <slot name="leading" />
      </div>
    {:else if leading}
      <div class="w-6 h-6" />
    {/if}
    <div>
      <div>
        <slot>
          {label}
        </slot>
      </div>
      {#if supporting}
        <div class="text-body-medium text-on-surface-variant">
          {supporting}
        </div>
      {/if}
    </div>
    {#if $$slots.trailing}
      <div class="ml-auto w-6 h-6">
        <slot name="trailing" />
      </div>
    {/if}
  </div>
</li>

<style>
  .layer {
    @apply py-2 px-3 h-12;
    @apply flex items-center gap-3 text-on-surface;
  }
  .layer > * {
    @apply shrink-0;
  }
  .layer.small { @apply h-10; }
  .layer.large { @apply h-14; };

  .layer:not(.disabled) {
    @apply cursor-pointer;
  }
  .layer:not(.disabled):hover {
    @apply bg-on-surface-variant bg-opacity-state-hover;
  }
  .layer:not(.disabled):active {
    @apply bg-on-surface-variant bg-opacity-state-pressed;
  }
  .layer.disabled {
    @apply opacity-state-disabled;
  }
</style>
