<script lang="ts">
  import type { HTMLButtonAttributes } from 'svelte/elements';

  interface $$Props extends HTMLButtonAttributes {
    active?: boolean;
  }

  export let active = false;
</script>

<button {...$$restProps} class:active on:click>
  <div class="icon-container">
    <div class="state-layer">
      <slot name="icon" />
    </div>
  </div>
  <slot name="label" />
</button>

<style lang="postcss">
  /* normal state */
  button {
    @apply text-label-small flex flex-col items-center justify-center gap-1 shrink-0;
  }
  .icon-container {
    @apply rounded-full;
  }
  .state-layer {
    @apply w-16 h-8 rounded-full grid place-items-center;
  }
  button:hover .state-layer {
    @apply bg-on-surface bg-opacity-[0.08];
  }
  button:active .state-layer {
    @apply bg-on-surface bg-opacity-[0.12];
  }

  /* active state */
  button.active {
    @apply font-semibold text-on-surface;
  }
  button.active .icon-container {
    @apply bg-secondary-container text-on-secondary-container;
  }
  button:hover.active .state-layer {
    @apply bg-on-secondary-container bg-opacity-[0.08];
  }
  button:active.active .state-layer {
    @apply bg-opacity-[0.12];
  }
</style>
