<script lang="ts">
  import type { SvelteHTMLElements } from 'svelte/elements';
  import mobileKeyboardVisible from './mobileKeyboardVisible';

  type $$Props = SvelteHTMLElements['nav'] & {
    hideOnKeyboard?: boolean;
  };

  // NOTE: don't use, it's too limited
  export let hideOnKeyboard: boolean = false;

  $: visible = hideOnKeyboard ? !$mobileKeyboardVisible : true;
</script>

{#if visible}
  <nav {...$$props}>
    <slot />
  </nav>
{/if}

<style>
  nav {
    @apply flex justify-around text-on-surface-variant bg-surface-container pt-3 pb-4;
  }
</style>
