<script lang="ts">
  import type { SvelteHTMLElements } from 'svelte/elements';

  type $$Props = SvelteHTMLElements['div'];
</script>

<div {...$$props} class="px-4 py-2 min-h-[3.5rem] text-on-surface-variant text-title-small flex items-center {$$props.class}">
  <div>
    <slot />
  </div>
</div>
