<script lang="ts">
  import type { HTMLButtonAttributes } from 'svelte/elements';
  export let active = false;

  interface $$Props extends HTMLButtonAttributes {
    active?: boolean;
  }
</script>

<button
  {...$$restProps}
  class:active
  class="text-left text-on-surface-variant text-label-large font-semibold {$$restProps.class}"
  on:click
>
  <div class="state-layer flex gap-3 items-center h-14 px-4">
    {#if $$slots.icon}
      <div class="shrink-0">
        <slot name="icon" />
      </div>
    {/if}
    <div class="flex-1">
      <slot name="label" />
    </div>
    {#if $$slots.badge}
      <div class="ml-auto shrink-0">
        <slot name="badge" />
      </div>
    {/if}
  </div>
</button>

<style>
  button, .state-layer {
    @apply rounded-[6.25rem];
  }
  button:hover .state-layer {
    @apply bg-on-surface bg-opacity-[0.08];
  }
  button:active .state-layer {
    @apply bg-on-surface bg-opacity-[0.12];
  }

  button.active {
    @apply bg-secondary-container text-on-secondary-container;
  }
  button:hover .state-layer {
    @apply bg-on-secondary-container bg-opacity-[0.08];
  }
  button:active .state-layer {
    @apply bg-on-secondary-container bg-opacity-[0.12];
  }
</style>
