<script lang="ts">
    import { sineIn, sineOut } from 'svelte/easing';
  import { fade, fly } from 'svelte/transition';

  type $$Props = {
    class?: string;
    modal?: boolean;
    visible?: boolean;
  };

  export let modal = false;
  export let visible = false;

  function handleClick() {
    visible = false;
  }
</script>
<!-- svelte-ignore a11y-click-events-have-key-events -->
<!-- svelte-ignore a11y-no-static-element-interactions -->
<!-- svelte-ignore a11y-no-noninteractive-element-interactions -->

{#if modal}
  {#if visible}
    <div
      class="scrim"
      on:click={handleClick}
      in:fade={{ duration: 200, delay: 150 }}
      out:fade={{ duration: 200, delay: 0 }}
    />

    <div class="fixed top-0 bottom-0 left-0 z-50">
      <nav
        {...$$props}
        class="w-[22.5rem] max-w-[calc(100%-1.5rem)] h-full flex flex-col items-stretch p-3 rounded-r-2xl bg-surface-container-low overflow-auto z-50 {$$props.class}"
        on:click|stopPropagation
        in:fly={{ x: -200, duration: 200, easing: sineIn }}
        out:fly={{ x: -200, duration: 200, delay: 100, easing: sineIn }}
      >
        <slot />
      </nav>
    </div>
  {/if}
{:else}
  <nav {...$$props} class="w-[22.5rem] flex flex-col items-stretch p-3 rounded-2xl bg-surface-container-low {$$props.class}">
    <slot />
  </nav>
{/if}
