<script lang="ts">
  import { createEventDispatcher } from 'svelte';
  import { Input, SearchDialog } from '.';

  type $$Props = {
    value?: string;
    placeholder?: string;
    portal?: string;
    open?: boolean;
    clearable?: boolean;
    class?: string;
    hasLeading?: boolean;
    hasTrailing?: boolean;
    dialog?: HTMLDivElement;
  };

  export let value: string = '';
  export let placeholder: string = '';
  export let portal: string = '#bucketh';
  export let open: boolean = false;
  export let clearable: boolean = false;
  export let hasLeading: boolean = false;
  export let hasTrailing: boolean = false;
  export let dialog: HTMLDivElement | undefined = undefined;

  const dispatch = createEventDispatcher<{
    show: void;
    hide: void;
    clear: void;
  }>();

  function handleShow() { dispatch('show'); }
  function handleHide() { dispatch('hide'); }
  function handleClear() { dispatch('clear'); }
</script>

<Input
  {placeholder}
  {hasLeading}
  {hasTrailing}
  class="{$$props.class || ''}"
  bind:value
  on:focus={handleShow}
>
  <slot name="icons" />
</Input>

{#if open}
  <SearchDialog
    {portal}
    {placeholder}
    {clearable}
    bind:value
    bind:root={dialog}
    on:back={handleHide}
    on:clear={handleClear}
  >
    <slot />
  </SearchDialog>
{/if}
