<script lang="ts">
  import { createEventDispatcher } from 'svelte';
  import ArrowBackIcon from '@bucketh/icons/ArrowBackIcon.svelte';
  import CloseIcon from '@bucketh/icons/CloseIcon.svelte';
  import Portal from 'svelte-portal';

  export let portal: string = '#bucketh';
  export let placeholder: string = '';
  export let value: string = '';
  export let clearable: boolean = true;
  export let root: HTMLDivElement | undefined = undefined;
  export let input: HTMLInputElement | undefined = undefined;

  const dispatch = createEventDispatcher<{
    back: void;
    clear: void;
  }>();

  function handleBack() {
    dispatch('back');
  }
  function handleClear() {
    dispatch('clear');
  }

  $: if (input) input.focus();
</script>

<Portal target={portal}>
  <div class="absolute inset-0 bg-surface-bright" bind:this={root}>
    <div class="h-[4.5rem] p-1 flex gap-1 items-center">
      <button on:click={handleBack}>
        <ArrowBackIcon />
      </button>
      <input
        class="flex-1"
        {placeholder}
        bind:this={input}
        bind:value
      />
      {#if clearable && value.trim()}
        <button on:click={handleClear}>
          <CloseIcon />
        </button>
      {/if}
    </div>
    <hr />
    <slot />
  </div>
</Portal>

<style lang="postcss">
  input {
    @apply bg-transparent outline-none text-on-surface text-body-large caret-primary;
  }
  input::placeholder {
    @apply text-on-surface-variant;
  }
  button {
    @apply w-12 h-12 shrink-0 grid place-items-center;
  }
</style>
