<script lang="ts">
  type $$Props = {
    class?: string;
  };
</script>

<svg class={$$props.class} width="24" height="24" />

<style>
  svg {
    --dynamic-fallback: var(--primary);

    animation: spin 1s linear infinite;
    @apply rounded-full border-[0.125rem] border-transparent border-t-[currentColor];
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>
