<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  type $$Props = {
    value?: boolean;
    disabled?: boolean;
    manual?: boolean;
    class?: string;
  };

  type ClickEvent = MouseEvent & { currentTarget: EventTarget & HTMLDivElement };
  type KeyupEvent = KeyboardEvent & { currentTarget: EventTarget & HTMLDivElement };

  const dispatch = createEventDispatcher<{
    click: ClickEvent;
    keyup: KeyupEvent;
    change: boolean;
  }>();

  export let value: boolean = false;
  export let disabled: boolean = false;
  export let manual: boolean = false;

  function toggle() {
    if (!manual) value = !value;
    dispatch('change', !value);
  }

  function handleClick(e: ClickEvent) {
    if (disabled) return;

    dispatch('click', e);
    toggle();
  }

  function handleKeyup(e: KeyupEvent) {
    if (disabled) return;

    dispatch('keyup', e);
    if (e.code === 'Enter' || e.code === 'Space') toggle();
  }
</script>

<div
  class="inline-flex justify-between items-center gap-4 cursor-pointer outline-none {$$restProps.class}"
  class:disabled
  class:selected={value}
  class:unselected={!value}
  on:click={handleClick}
  on:keyup={handleKeyup}
  role="checkbox"
  aria-checked={value}
  tabindex="0"
>
  {#if $$slots.default}
    <div>
      <slot />
    </div>
  {/if}
  <div class="track">
    <div class="handle">
      {#if value}
        <slot name="selected" />
      {:else}
        <slot name="unselected" />
      {/if}
    </div>
  </div>
</div>

<style>
  .track {
    @apply relative shrink-0 w-[3.25rem] h-8 rounded-full border-2 transition-colors;
  }
  .handle {
    /* TODO: use tailwind to add shadow */
    /* NOTE: box shadow works as state layer of handle element */
    box-shadow: 0 0 0 0.5rem rgb(var(--layer-color) / var(--layer-opacity));
    @apply absolute w-6 h-6 rounded-full top-[0.125rem] transition-all grid place-items-center;
  }
  .disabled {
    @apply cursor-auto;
  }

  .handle :global(svg) {
    @apply w-4 h-4;
  }

  .selected .track {
    @apply bg-primary border-transparent;
  }
  .selected .handle {
    @apply left-6 bg-on-primary text-on-primary-container;
  }
  .selected:not(.disabled):hover .handle {
    --layer-color: var(--primary);
    --layer-opacity: 0.08;
    @apply bg-primary-container;
  }
  .selected:not(.disabled):active .handle {
    --layer-opacity: 0.2;
  }
  .selected.disabled .track {
    @apply border-surface-dim bg-opacity-[0.12] border-transparent;
  }
  .selected.disabled .handle {
    @apply bg-surface;
  }

  .unselected .track {
    @apply bg-surface-container-highest border-outline;
  }
  .unselected .handle {
    @apply left-1 bg-outline text-on-primary;
  }
  .unselected:not(.disabled):hover .handle {
    --layer-color: var(--on-surface);
    --layer-opacity: 0.08;
    @apply bg-on-surface-variant;
  }
  .unselected:not(.disabled):active .handle {
    --layer-opacity: 0.2;
  }
  .unselected.disabled .track {
    @apply bg-outline-variant bg-opacity-[0.12] border-on-surface-variant border-opacity-[0.12];
  }
  .unselected.disabled .handle {
    @apply bg-on-surface bg-opacity-[0.38];
  }
</style>
