<script lang="ts">
  import { getTabContext } from './Tabs.svelte';

  export let id: string;
  export let label: string = '';

  const context = getTabContext();

  function handleClick() {
    $context.select(id);
  }

  $: active = $context.value === id;
</script>

<button
  value={id} on:click={handleClick}
  class="{active ? 'text-primary' : 'text-on-surface-variant'}"
>
  <slot {active}/>
  <span>
    {label}
  </span>
</button>

<style>
  button {
    @apply flex-1 shrink-0 text-title-small flex flex-col justify-center items-center gap-1 py-2;
  }
  button > :global(:first-child) {
    @apply shrink-0;
  }
</style>
