<script lang="ts" context="module">
  import { getContext, setContext } from 'svelte';
  import type { Writable } from 'svelte/store';

  type TabContext = Writable<{
    select: (id: string) => void;
    value: string;
  }>;

  export function setTabContext(context: TabContext) {
    setContext('tab-context', context);
  }

  export function getTabContext(): TabContext {
    return getContext('tab-context');
  }

  /**
   * TODO:
   * - Add support for secondary variant
  */
</script>

<script lang="ts">
  import { createEventDispatcher } from 'svelte';
  import { writable } from 'svelte/store';

  type $$Props = {
    value: string;
    manual?: boolean;
    root?: HTMLElement;
    class?: string;
  };

  export let value: string;
  export let manual = false;
  export let root: HTMLElement | undefined = undefined;

  const dispatch = createEventDispatcher<{ select: string }>();

  const tabContext = writable({
    select: (id: string) => {
      if (!manual) {
        value = id;
      }
      dispatch('select', id);
    },
    value,
  });
  setTabContext(tabContext);

  function getPosition(el: HTMLElement) {
    return el.offsetLeft + el.offsetWidth / 2;
  }
  function getWith({ children }: HTMLElement) {
    const index = children.length - 1;
    const last = children[index];

    if (last) return last.clientWidth;
    return 16; // TODO: find a way to get the size of 1rem
  }

  $: $tabContext.value = value;
  $: selectedTab = root?.querySelector(`[value="${value}"]`) as HTMLElement | undefined;

  // indicator sizes
  $: position = selectedTab ? getPosition(selectedTab) : null;
  $: width = selectedTab ? getWith(selectedTab) : null;
</script>

<nav
  bind:this={root}
  class="shrink-0 relative overflow-y-hidden h-16 bg-surface border-b border-surface-container-highest flex {$$props.class}"
>
  <slot />
  {#if position}
    <div
      class="absolute -translate-x-1/2 transition-all bottom-[-3px] h-[6px] rounded bg-primary w-4"
      style="left: {position}px; width: {width}px;"
    />
  {/if}
</nav>
