<script lang="ts">
  import { createEventDispatcher } from 'svelte';
  import type { ChangeEventHandler, FormEventHandler, HTMLInputTypeAttribute, KeyboardEventHandler } from 'svelte/elements';
  import FieldWrapper from './FieldWrapper.svelte';

  type Variant = 'filled' | 'outlined';
  type $$Props = {
    class?: string;
    controlled?: boolean;
    disabled?: boolean;
    error?: boolean;
    filled?: boolean;
    id?: string;
    input?: HTMLInputElement;
    label?: string;
    outlined?: boolean;
    populateLabel?: boolean;
    root?: HTMLDivElement;
    rootId?: string;
    supporting?: string;
    type?: HTMLInputTypeAttribute;
    value?: string;
    variant?: Variant;
    readonly?: boolean;
  };

  export let controlled = false;
  export let disabled = false;
  export let error = false;
  export let filled = false;
  export let id: string | undefined = undefined;
  export let input: HTMLInputElement = null as any;
  export let label = '';
  export let outlined = false;
  export let populateLabel = false;
  export let root: HTMLDivElement = null as any;
  export let rootId: string | undefined = undefined;
  export let supporting = '';
  export let type: HTMLInputTypeAttribute = 'text';
  export let value: string = '';
  export let variant: Variant = 'outlined';
  export let readonly = false;

  let inputValue = '';

  const dispatch = createEventDispatcher<{
    input: string;
    change: string;
  }>();

  const handleInput: FormEventHandler<HTMLInputElement> = (e) => {
    if (readonly) return;
    value = e.currentTarget.value;
    dispatch('input', inputValue);
  }

  const handleKeyDown: KeyboardEventHandler<HTMLInputElement> = (e) => {
    if (!controlled || readonly) return;

    let newValue = e.currentTarget.value;

    if (e.key === "Backspace") {
      newValue = e.currentTarget.value.slice(0, -1);
    } else if (e.key.length === 1) {
      newValue += e.key;
    }
    dispatch('input', newValue);

    e.preventDefault();
  };

  $: inputValue = value;
</script>

<FieldWrapper
  {label}
  {variant}
  {filled}
  {outlined}
  {populateLabel}
  {error}
  {disabled}
  {supporting}
  {readonly}
  id={rootId}
  for={id}
  class={$$props.class}
  bind:root
>
  <slot slot="leading" name="leading" />
  <input
    {id}
    {disabled}
    {type}
    {readonly}
    value={inputValue}
    placeholder=" "
    bind:this={input}
    on:input={handleInput}
    on:change
    on:keyup
    on:keydown={handleKeyDown}
    on:keypress
    on:focus
    on:blur
  />
  <slot slot="trailing" name="trailing" />
</FieldWrapper>
