<script lang="ts">
  import type { HTMLAttributes } from 'svelte/elements';

  export let root: HTMLHeadElement | undefined = undefined;
  export let elevated: boolean = false;

  interface $$Props extends HTMLAttributes<HTMLElement> {
    root?: HTMLHeadElement | undefined;
    elevated?: boolean;
  }
</script>

<header bind:this={root} {...$$restProps} class:elevated>
  <slot />
</header>

<style>
  header {
    @apply h-16 flex items-center justify-between gap-1 py-1 px-2 bg-surface text-on-surface;
  }
  .elevated {
    @apply bg-surface-container;
  }

  header :global(.leading), header :global(.trailing) {
    @apply flex items-center justify-center min-w-[3rem] h-12 shrink-0;
  }
  header :global(.heading) {
    @apply ml-auto;
  }
  header :global(.title) {
    @apply flex-1 text-title-large !leading-[unset];
  }
  header :global(.center-title) {
    @apply text-title-large;
  }
</style>
