<script lang="ts">
  import { onMount } from 'svelte';
  import type { HTMLAttributes } from 'svelte/elements';

  type Theme = 'light' | 'dark';
  type ThemeProp = Theme | 'auto';

  interface $$Props extends HTMLAttributes<HTMLElement> {
    theme?: ThemeProp;
    id?: string;
  }

  export let theme: ThemeProp = 'auto';
  export let id: string = '';

  const media = typeof window === 'undefined'
    ? undefined
    : window?.matchMedia?.('(prefers-color-scheme: dark)');
  let autoTheme: Theme = media?.matches ? 'dark' : 'light';

  onMount(() => {
    const onMatch = (e: MediaQueryListEvent) => {
      autoTheme = e.matches ? 'dark' : 'light';
    };

    media?.addEventListener('change', onMatch);
    return () => media?.removeEventListener('change', onMatch);
  });

  $: _theme = theme === 'auto' ? autoTheme : theme;
</script>

<main
  {...$$restProps}
  id={id || 'bucketh'}
  class="tokens h-full {$$restProps.class}"
  class:light-theme={_theme === 'light'}
  class:dark-theme={_theme === 'dark'}
>
  <slot />
</main>

<style>
  :global(hr) {
    @apply border-outline-variant;
  }

  /* To change color of input icons */
  .light-theme {
    color-scheme: light;
  }
  .dark-theme {
    color-scheme: dark;
  }
</style>
