<script>
  export let inverse = false;
</script>

<img src="https://picsum.photos/130/100" alt="">
<div class="root p-4 w-32 {$$props.class || ''}" class:inverse>
  <b class="title">
    <slot>
      Card
    </slot>
  </b>
  <div class="description">
    Lorem ipsum dolor sit amet
  </div>
</div>

<style>
  .root {
    --on-dynamic-fallback: theme(colors.on-surface);
    --dynamic-container-fallback: theme(colors.on-surface-variant);
  }
  .title {
    @apply text-title-small text-on-dynamic;
  }
  .description {
    @apply text-body-small text-dynamic-container;
  }

  .inverse .title {
    @apply text-dynamic;
  }
  .inverse .description {
    @apply text-dynamic;
  }
</style>
