<script lang="ts">
  import '../../app.css';
  import { onMount } from 'svelte';
  import { UIBucketh } from '$lib';

  type $$Props = {
    class?: string;
    transparent?: boolean;
    id?: string;
  };

  export let transparent = false;
  export let id: string = '';

  let theme: 'dark' | 'light' | 'auto' = 'auto';

  const html = document.querySelector('html');

  function updateTheme() {
    if (!html) return;

    const isDark =
      html.classList.contains('dark') ||
      html.classList.contains('htw-dark');
    theme = isDark ? 'dark' : 'light';
  }

  onMount(() => {
    if (!html) return;
    const observer = new MutationObserver(updateTheme);

    observer.observe(html, { attributes: true });
    return () => observer.disconnect();
  });
  updateTheme();
</script>

<UIBucketh {id} {theme} class="{!transparent && 'bg-surface'} p-4 w-full h-full rounded {$$restProps.class}">
  <slot />
</UIBucketh>

<style>
  :global([data-test-id="sandbox-render"]) {
    @apply p-0;
  }
</style>
