<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import AddIcon from '@bucketh/icons/AddIcon.svelte';
  import SettingsIcon from '@bucketh/icons/SettingsIcon.svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { Button, Spin } from '$lib';

  let disabled = false;
  let loading = false;

  export let Hst: Hst;

  function handleClick() {
    console.log('clicked');
  }
</script>

<svelte:component this={Hst.Story} title="Button" layout={{ type: 'grid', width: 300 }}>
  <StoryLayout transparent class="flex w-72 flex-wrap gap-4">
    <svelte:component this={Hst.Variant} title="Filled (default)">
      <Button on:click={handleClick} {loading} {disabled}>
        <SettingsIcon slot="leading" />
        Filled
      </Button>
      <Button on:click={handleClick} {loading} {disabled}>
        Filled
        <SettingsIcon slot="trailing" />
      </Button>
      <Button on:click={handleClick} {loading} {disabled}>
        <Spin slot="leading" />
        Filled
      </Button>
      <Button on:click={handleClick} {loading} {disabled}>
        Filled
      </Button>
      <div>
        Shape Icon:
        <div>
          <Button on:click={handleClick} icon {loading} {disabled}>
            <AddIcon />
          </Button>
        </div>
      </div>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Text">
      <Button on:click={handleClick} {loading} text {disabled}>
        <SettingsIcon slot="leading" />
        Text
      </Button>
      <Button on:click={handleClick} {loading} text {disabled}>
        Text
        <SettingsIcon slot="trailing" />
      </Button>
      <Button on:click={handleClick} {loading} text {disabled}>
        <Spin slot="leading" />
        Text
      </Button>
      <Button on:click={handleClick} {loading} text {disabled}>
        Text
      </Button>
      <div>
        Shape Icon:
        <div>
          <Button on:click={handleClick} text icon {loading} {disabled}>
            <AddIcon />
          </Button>
        </div>
      </div>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Tonal">
      <Button on:click={handleClick} {loading} tonal {disabled}>
        <SettingsIcon slot="leading" />
        Tonal
      </Button>
      <Button on:click={handleClick} {loading} tonal {disabled}>
        Tonal
        <SettingsIcon slot="trailing" />
      </Button>
      <Button on:click={handleClick} {loading} tonal {disabled}>
        <Spin slot="leading" />
        Tonal
      </Button>
      <Button on:click={handleClick} {loading} tonal {disabled}>
        Tonal
      </Button>
      <div>
        Shape Icon:
        <div>
          <Button on:click={handleClick} tonal icon {loading} {disabled}>
            <AddIcon />
          </Button>
        </div>
      </div>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="In column">
      <div class="flex flex-col gap-2 w-full">
        <Button on:click={handleClick} {loading} {disabled}>
          <SettingsIcon slot="leading" />
          Filled
          <SettingsIcon slot="trailing" />
        </Button>
        <Button on:click={handleClick} {loading} {disabled} text>
          <SettingsIcon slot="leading" />
          Text
          <SettingsIcon slot="trailing" />
        </Button>
        <Button on:click={handleClick} {loading} {disabled} tonal>
          <SettingsIcon slot="leading" />
          Tonal
          <SettingsIcon slot="trailing" />
        </Button>
      </div>
    </svelte:component>
  </StoryLayout>
  <svelte:fragment slot="controls">
    <svelte:component this={Hst.Checkbox} bind:value={disabled} title="disabled" />
    <svelte:component this={Hst.Checkbox} bind:value={loading} title="loading" />
  </svelte:fragment>
</svelte:component>
