<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import CardContent from './helpers/CardContent.svelte';
  import { Card } from '$lib';

  export let Hst: Hst;
</script>

<svelte:component this={Hst.Story} title="Card" layout={{ type: 'grid', width: 350 }}>
  <StoryLayout transparent class="flex flex-wrap gap-4">
    <svelte:component this={Hst.Variant} title="Outlined (default)">
      <Card>
        <CardContent>
          Normal
        </CardContent>
      </Card>
      <Card interactive>
        <CardContent>
          Interactive
        </CardContent>
      </Card>
    </svelte:component>

    <svelte:component this={Hst.Variant} title="Filled">
      <Card filled>
        <CardContent>
          Normal
        </CardContent>
      </Card>
      <Card filled interactive>
        <CardContent>
          Interactive
        </CardContent>
      </Card>
    </svelte:component>

    <svelte:component this={Hst.Variant} title="Elevated">
      <Card elevated>
        <CardContent>
          Normal
        </CardContent>
      </Card>
      <Card elevated interactive>
        <CardContent>
          Interactive
        </CardContent>
      </Card>
    </svelte:component>
  </StoryLayout>
</svelte:component>
