<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { Chip } from '$lib';

  export let Hst: Hst;
</script>

<svelte:component this={Hst.Story} title="Chip" layout={{ type: 'grid', width: 180 }}>
  <StoryLayout>
    <svelte:component this={Hst.Variant} title="Default">
      <Chip>Chip</Chip>
    </svelte:component>

    <svelte:component this={Hst.Variant} title="Selected">
      <Chip selected>Chip</Chip>
    </svelte:component>

    <svelte:component this={Hst.Variant} title="Selected (color-error)">
      <Chip selected class="color-error">Chip</Chip>
    </svelte:component>
  </StoryLayout>
</svelte:component>
