<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';

  export let Hst: Hst;
</script>

<svelte:component this={Hst.Story} title="Colors">
  <StoryLayout transparent>
    <!-- Accent colors -->
    <div class="flex gap-1 mb-4">
      <!-- Primary color -->
      <div class="accent-color-preview">
        <div class="bg-primary text-on-primary">
          Primary <code>primary</code>
        </div>
        <div class="bg-on-primary text-primary">
          On Primary <code>on-primary</code>
        </div>
        <div class="bg-primary-container text-on-primary-container">
          Primary Container <code>primary-container</code>
        </div>
        <div class="bg-on-primary-container text-primary-container">
          On Primary Container <code>on-primary-container</code>
        </div>
        <div class="bg-inverse-primary text-primary">
          Inverse Primary <code>inverse-primary</code>
        </div>
        <div class="bg-primary-fixed text-on-primary-fixed">
          Primary Fixed <code>primary-fixed</code>
        </div>
        <div class="bg-primary-fixed-dim text-on-primary-fixed">
          Primary Fixed Dim <code>primary-fixed-dim</code>
        </div>
        <div class="bg-on-primary-fixed text-primary-fixed">
          On Primary Fixed <code>on-primary-fixed</code>
        </div>
        <div class="bg-on-primary-fixed-variant text-primary-fixed-dim">
          On Primary Fixed Variant <code>on-primary-fixed-variant</code>
        </div>
      </div>

      <!-- Secondary color -->
      <div class="accent-color-preview">
        <div class="bg-secondary text-on-secondary">
          Secondary <code>secondary</code>
        </div>
        <div class="bg-on-secondary text-secondary">
          On Secondary <code>on-secondary</code>
        </div>
        <div class="bg-secondary-container text-on-secondary-container">
          Secondary Container <code>secondary-container</code>
        </div>
        <div class="bg-on-secondary-container text-secondary-container">
          On Secondary Container <code>on-secondary-container</code>
        </div>
        <div class="bg-inverse-secondary text-secondary">
          Inverse Secondary <code>inverse-secondary</code>
        </div>
        <div class="bg-secondary-fixed text-on-secondary-fixed">
          Secondary Fixed <code>secondary-fixed</code>
        </div>
        <div class="bg-secondary-fixed-dim text-on-secondary-fixed">
          Secondary Fixed Dim <code>secondary-fixed-dim</code>
        </div>
        <div class="bg-on-secondary-fixed text-secondary-fixed">
          On Secondary Fixed <code>on-secondary-fixed</code>
        </div>
        <div class="bg-on-secondary-fixed-variant text-secondary-fixed-dim">
          On Secondary Fixed Variant <code>on-secondary-fixed-variant</code>
        </div>
      </div>

      <!-- Tertiary color -->
      <div class="accent-color-preview">
        <div class="bg-tertiary text-on-tertiary">
          Tertiary <code>tertiary</code>
        </div>
        <div class="bg-on-tertiary text-tertiary">
          On Tertiary <code>on-tertiary</code>
        </div>
        <div class="bg-tertiary-container text-on-tertiary-container">
          Tertiary Container <code>tertiary-container</code>
        </div>
        <div class="bg-on-tertiary-container text-tertiary-container">
          On Tertiary Container <code>on-tertiary-container</code>
        </div>
        <div class="bg-inverse-tertiary text-tertiary">
          Inverse Tertiary <code>inverse-tertiary</code>
        </div>
        <div class="bg-tertiary-fixed text-on-tertiary-fixed">
          Tertiary Fixed <code>tertiary-fixed</code>
        </div>
        <div class="bg-tertiary-fixed-dim text-on-tertiary-fixed">
          Tertiary Fixed Dim <code>tertiary-fixed-dim</code>
        </div>
        <div class="bg-on-tertiary-fixed text-tertiary-fixed">
          On Tertiary Fixed <code>on-tertiary-fixed</code>
        </div>
        <div class="bg-on-tertiary-fixed-variant text-tertiary-fixed-dim">
          On Tertiary Fixed Variant <code>on-secondary-fixed-variant</code>
        </div>
      </div>

      <!-- Error color -->
      <div class="accent-color-preview">
        <div class="bg-error text-on-error">
          Error <code>error</code>
        </div>
        <div class="bg-on-error text-error">
          On Error <code>on-error</code>
        </div>
        <div class="bg-error-container text-on-error-container">
          Error Container <code>error-container</code>
        </div>
        <div class="bg-on-error-container text-error-container">
          On Error Container <code>on-error-container</code>
        </div>
        <div class="bg-inverse-error text-error">
          Inverse Error <code>inverse-error</code>
        </div>
        <div class="bg-error-fixed text-on-error-fixed">
          Error Fixed <code>error-fixed</code>
        </div>
        <div class="bg-error-fixed-dim text-on-error-fixed">
          Error Fixed Dim <code>error-fixed-dim</code>
        </div>
        <div class="bg-on-error-fixed text-error-fixed">
          On Error Fixed <code>on-error-fixed</code>
        </div>
        <div class="bg-on-error-fixed-variant text-error-fixed-dim">
          On Error Fixed Variant <code>on-secondary-fixed-variant</code>
        </div>
      </div>
    </div>

    <!-- Neutrla colors -->
    <!-- surface-dim surface surface-bright -->
    <div class="neutral-color-row mb-1">
      <div class="bg-surface-dim text-on-surface">
        Surface Dim
        <code>surface-dim</code>
      </div>
      <div class="bg-surface text-on-surface">
        Surface
        <code>surface</code>
      </div>
      <div class="bg-surface-bright text-on-surface">
        Surface Bright
        <code>surface-bright</code>
      </div>
    </div>

    <!-- surface-container-lowest surface-container-low surface-container surface-container-high surface-container-highest -->
    <div class="neutral-color-row mb-1">
      <div class="bg-surface-container-lowest text-on-surface">
        Surface Container Lowest
        <code>surface-container-lowest</code>
      </div>
      <div class="bg-surface-container-low text-on-surface">
        Surface Container Low
        <code>surface-container-low</code>
      </div>
      <div class="bg-surface-container text-on-surface">
        Surface Container
        <code>surface-container</code>
      </div>
      <div class="bg-surface-container-high text-on-surface">
        Surface Container High
        <code>surface-container-high</code>
      </div>
      <div class="bg-surface-container-highest text-on-surface">
        Surface Container Highest
        <code>surface-container-highest</code>
      </div>
    </div>

    <!-- on-surface on-surface-variant outline outline-variant -->
    <div class="neutral-color-row mb-1">
      <div class="bg-on-surface text-surface">
        On Surface
        <code>on-surface</code>
      </div>
      <div class="bg-on-surface-variant text-surface">
        On Surface Variant
        <code>on-surface-variant</code>
      </div>
      <div class="bg-outline text-surface">
        Outline
        <code>outline</code>
      </div>
      <div class="bg-outline-variant text-inverse-surface">
        Outline Variant
        <code>outline-variant</code>
      </div>
    </div>

    <!-- inverse-surface inverse-on-surface scrim shadow -->
    <div class="neutral-color-row">
      <div class="bg-inverse-surface text-inverse-on-surface">
        Inverse Surface
        <code>inverse-surface</code>
      </div>
      <div class="bg-inverse-on-surface text-inverse-surface">
        Inverse On Surface
        <code>inverse-on-surface</code>
      </div>
      <div class="bg-scrim text-white">
        Scrim
        <code>scrim</code>
      </div>
      <div class="bg-shadow text-white">
        Shadow
        <code>shadow</code>
      </div>
    </div>
  </StoryLayout>
</svelte:component>

<style lang="postcss">
  .accent-color-preview {
    display: grid;
    grid-template:
      "color                    color"
      "on-color                 on-color"
      "color-container          color-container"
      "on-color-container       on-color-container"
      "inverse-color            inverse-color"
      "color-fixed              color-fixed-dim"
      "on-color-fixed           on-color-fixed"
      "on-color-fixed-variant   on-color-fixed-variant"
    ;
    @apply w-[20rem] shrink-0;
  }
  .accent-color-preview > * {
    @apply px-3 py-2 text-sm font-medium;
  }

  code {
    @apply flex justify-end text-xs;
  }

  .accent-color-preview > *:nth-child(1) {
    grid-area: color;
  }
  .accent-color-preview > *:nth-child(2) {
    grid-area: on-color;
    margin-bottom: 0.25rem;
  }
  .accent-color-preview > *:nth-child(3) {
    grid-area: color-container;
  }
  .accent-color-preview > *:nth-child(4) {
    grid-area: on-color-container;
    margin-bottom: 0.25rem;
  }
  .accent-color-preview > *:nth-child(5) {
    grid-area: inverse-color;
    margin-bottom: 1rem;
  }
  .accent-color-preview > *:nth-child(6) {
    grid-area: color-fixed;
  }
  .accent-color-preview > *:nth-child(7) {
    grid-area: color-fixed-dim;
  }
  .accent-color-preview > *:nth-child(8) {
    grid-area: on-color-fixed;
  }
  .accent-color-preview > *:nth-child(9) {
    grid-area: on-color-fixed-variant;
  }

  .neutral-color-row {
    @apply flex;
  }
  .neutral-color-row > * {
    @apply px-3 py-2 text-sm font-medium w-[20.125rem] shrink-0;
  }
</style>
