<script lang="ts">
  import CreditCardIcon from '@bucketh/icons/CreditCardIcon.svelte';
  import ShoppingCartIcon from '@bucketh/icons/ShoppingCartIcon.svelte';
  import RadioButtonUncheckedIcon from '@bucketh/icons/RadioButtonUncheckedIcon.svelte';
  import type { Hst } from '@histoire/plugin-svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { Dialog, Button, ListItem } from '$lib';

  export let Hst: Hst;

  let visible = true;
</script>

<svelte:component this={Hst.Story} title="Dialog" layout={{ type: 'grid', width: 400 }}>
  <svelte:component this={Hst.Variant} title="Basic">
    <StoryLayout id="basic">
      <div class="h-52" />
      <Dialog portal="#basic" class="w-80" {visible}>
        <svelte:fragment slot="text">
          Hello world
        </svelte:fragment>
        <svelte:fragment slot="actions">
          <Button text>
            Ok
          </Button>
        </svelte:fragment>
      </Dialog>
    </StoryLayout>
  </svelte:component>

  <svelte:component this={Hst.Variant} title="Titled">
    <StoryLayout id="titled">
      <div class="h-52" />
      <Dialog portal="#titled" class="w-80" {visible}>
        <svelte:fragment slot="title">
          Confirmation
        </svelte:fragment>
        <svelte:fragment slot="text">
          Are you sure to delete this article?
          <br />
          there is no way to get it back
        </svelte:fragment>
        <svelte:fragment slot="actions">
          <Button text>
            No
          </Button>
          <Button text>
            Yes
          </Button>
        </svelte:fragment>
      </Dialog>
    </StoryLayout>
  </svelte:component>

  <svelte:component this={Hst.Variant} title="Titled hero and body list">
    <StoryLayout id="titled-hero-list">
      <div class="h-[40rem]" />
      <Dialog portal="#titled-hero-list" class="w-80" {visible}>
        <ShoppingCartIcon slot="hero" />
        <svelte:fragment slot="title">
          Payment Method
        </svelte:fragment>
        <svelte:fragment slot="text">
          Select your payment method for this purchase
        </svelte:fragment>
        <ul slot="body">
          <ListItem>
            <CreditCardIcon slot="leading" />
            <b>Master Card</b>
            Ends with 1234
            <RadioButtonUncheckedIcon slot="trailing" />
          </ListItem>
          <ListItem>
            <CreditCardIcon slot="leading" />
            <b>Visa</b>
            Ends with 9876
            <RadioButtonUncheckedIcon slot="trailing" />
          </ListItem>
          <ListItem>
            <CreditCardIcon slot="leading" />
            <b>Cash</b>
            Pay in cash when you receive your purchase
            <RadioButtonUncheckedIcon slot="trailing" />
          </ListItem>
        </ul>
        <svelte:fragment slot="actions">
          <Button text>
            Cancel
          </Button>
          <Button text disabled>
            Continue
          </Button>
        </svelte:fragment>
      </Dialog>
    </StoryLayout>
  </svelte:component>
  <svelte:fragment slot="controls">
    <svelte:component this={Hst.Checkbox} bind:value={visible} title="Visible" />
  </svelte:fragment>
</svelte:component>
