<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import AddIcon from '@bucketh/icons/AddIcon.svelte'
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { Fab, Spin } from '$lib';

  let loading = false;

  export let Hst: Hst;
</script>

<svelte:component this={Hst.Story} title="Fab" layout={{ type: 'grid', width: 180 }}>
  <StoryLayout transparent class="flex flex-col items-center gap-4">
    <svelte:component this={Hst.Variant} title="Small">
      <Fab {loading} small>
        <AddIcon />
      </Fab>
      <Fab {loading} small class="color-primary">
        <AddIcon />
      </Fab>
      <Fab {loading} small class="color-secondary">
        <AddIcon />
      </Fab>
      <Fab {loading} small class="color-tertiary">
        <AddIcon />
      </Fab>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Normal">
      <Fab {loading}>
        <AddIcon />
      </Fab>
      <Fab {loading} class="color-primary">
        <AddIcon />
      </Fab>
      <Fab {loading} class="color-secondary">
        <AddIcon />
      </Fab>
      <Fab {loading} class="color-tertiary">
        <AddIcon />
      </Fab>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Large">
      <Fab {loading} large>
        <AddIcon />
      </Fab>
      <Fab {loading} large class="color-primary">
        <AddIcon />
      </Fab>
      <Fab {loading} large class="color-secondary">
        <AddIcon />
      </Fab>
      <Fab {loading} large class="color-tertiary">
        <AddIcon />
      </Fab>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Extended">
      <Fab {loading} extended>
        <AddIcon />
        Add
      </Fab>
      <Fab {loading} extended class="color-primary">
        <AddIcon />
        Add
      </Fab>
      <Fab {loading} extended class="color-secondary">
        <AddIcon />
        Add
      </Fab>
      <Fab {loading} extended class="color-tertiary">
        <AddIcon />
        Add
      </Fab>
      <Fab {loading} extended>
        <Spin />
        Spin
      </Fab>
    </svelte:component>
  </StoryLayout>
  <svelte:fragment slot="controls">
    <svelte:component this={Hst.Checkbox} bind:value={loading} title="loading" />
  </svelte:fragment>
</svelte:component>
