<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import SendIcon from '@bucketh/icons/SendIcon.svelte';
  import CloseIcon from '@bucketh/icons/CloseIcon.svelte';
  import SearchIcon from '@bucketh/icons/SearchIcon.svelte';
  import SettingsIcon from '@bucketh/icons/SettingsIcon.svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { FieldWrapper } from '$lib';

  export let Hst: Hst;

  let variant: 'filled' | 'outlined' = 'outlined';
  let error = false;
  let disabled = false;
  let populateLabel = false;
  let supporting = 'Supporting text';
  let label = 'Label'
</script>

<svelte:component this={Hst.Story} title="FieldWrapper" layout={{ type: 'grid', width: 345 }} >
  <svelte:component this={Hst.Variant} title="Text field">
    <StoryLayout>
      <FieldWrapper {variant} {populateLabel} {error} {disabled} {supporting}>
        <input placeholder=" " />
      </FieldWrapper>
    </StoryLayout>
  </svelte:component>

  <svelte:component this={Hst.Variant} title="Text field + label">
    <StoryLayout>
      <FieldWrapper {variant} {populateLabel} {error} {disabled} {supporting} {label}>
        <input placeholder=" " />
      </FieldWrapper>
    </StoryLayout>
  </svelte:component>

  <svelte:component this={Hst.Variant} title="Text field + leading">
    <StoryLayout>
      <FieldWrapper {variant} {populateLabel} {error} {disabled} {supporting}>
        <button slot="leading">
          <SearchIcon />
        </button>
        <input placeholder=" " />
      </FieldWrapper>
    </StoryLayout>
  </svelte:component>

  <svelte:component this={Hst.Variant} title="Text field + label + leading">
    <StoryLayout>
      <FieldWrapper {variant} {populateLabel} {error} {disabled} {supporting} {label}>
        <div slot="leading">
          <SearchIcon />
        </div>
        <input placeholder=" " />
      </FieldWrapper>
    </StoryLayout>
  </svelte:component>

  <svelte:component this={Hst.Variant} title="Text field + trailing">
    <StoryLayout>
      <FieldWrapper {variant} {populateLabel} {error} {disabled} {supporting}>
        <div slot="trailing">
          <SearchIcon />
        </div>
        <input placeholder=" " />
      </FieldWrapper>
    </StoryLayout>
  </svelte:component>

  <svelte:component this={Hst.Variant} title="Text field + trailing  + label">
    <StoryLayout>
      <FieldWrapper {variant} {populateLabel} {error} {disabled} {supporting} {label}>
        <input placeholder=" " />
        <div slot="trailing">
          <CloseIcon />
        </div>
      </FieldWrapper>
    </StoryLayout>
  </svelte:component>

  <svelte:component this={Hst.Variant} title="Text field + leading + trailing  + label">
    <StoryLayout>
      <FieldWrapper {variant} {populateLabel} {error} {disabled} {supporting} {label}>
        <div slot="leading">
          <SearchIcon />
        </div>
        <input placeholder=" " />
        <div slot="trailing">
          <CloseIcon />
        </div>
      </FieldWrapper>
    </StoryLayout>
  </svelte:component>

  <svelte:component this={Hst.Variant} title="Textarea field">
    <StoryLayout>
      <FieldWrapper {variant} {populateLabel} {error} {disabled} {supporting}>
        <textarea rows="1" placeholder=" " />
      </FieldWrapper>
    </StoryLayout>
  </svelte:component>

  <svelte:component this={Hst.Variant} title="Textarea field + decorations">
    <StoryLayout>
      <FieldWrapper {variant} {populateLabel} {error} {disabled} {supporting} {label}>
        <div slot="leading">
          <SettingsIcon />
        </div>
        <textarea rows="1" placeholder=" " />
        <div slot="trailing">
          <SendIcon />
        </div>
      </FieldWrapper>
    </StoryLayout>
  </svelte:component>

  <svelte:component this={Hst.Variant} title="Button instead input">
    <StoryLayout>
      <FieldWrapper {variant} {populateLabel} {error} {disabled} {supporting} {label}>
        <div slot="leading">
          <SettingsIcon />
        </div>
        <button class="text-left">
          I'm a button
        </button>
      </FieldWrapper>
    </StoryLayout>
  </svelte:component>

  <svelte:fragment slot="controls">
    <svelte:component this={Hst.Select} bind:value={variant} title="variant" options={['filled', 'outlined']} />
    <svelte:component this={Hst.Checkbox} bind:value={error} title="error" />
    <svelte:component this={Hst.Checkbox} bind:value={disabled} title="disabled" />
    <svelte:component this={Hst.Checkbox} bind:value={populateLabel} title="populateLabel" />
    <svelte:component this={Hst.Text} bind:value={supporting} title="supporting" />
  </svelte:fragment>
</svelte:component>
