<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import CancelIcon from '@bucketh/icons/CancelIcon.svelte';
  import SearchIcon from '@bucketh/icons/SearchIcon.svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { Input, InputButton } from '$lib';

  export let Hst: Hst;

  let trailingValue = '';
  let leadingValue = '';
</script>

<svelte:component this={Hst.Story} title="Input" layout={{ type: 'grid', width: 345 }} >
  <StoryLayout>
    <svelte:component this={Hst.Variant} title="Text" >
      <Input label="Type text" supporting="Supporting text" value="Hello World" />
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Number" >
      <Input type="number" label="Type number" supporting="Supporting text" />
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Date" >
      <Input type="date" label="Type date" supporting="Supporting text" />
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Placeholder" >
      <Input
        label="With placeholder"
        placeholder="Placeholder here :D"
        supporting="Supporting text"
      />
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Trailing button (clearable)" >
      <Input
        hasTrailing
        label="With Trailing"
        bind:value={trailingValue}
      >
        <InputButton disabled={!trailingValue} on:click={() => trailingValue = ''}>
          <CancelIcon />
        </InputButton>
      </Input>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Leading button (searchable)" >
      <Input
        hasLeading
        label="With Leading"
        bind:value={leadingValue}
        on:keyup={({ code }) => code === 'Enter' && alert(leadingValue)}
      >
        <InputButton leading on:click={() => alert(leadingValue)}>
          <SearchIcon />
        </InputButton>
      </Input>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Disabled" >
      <Input
        disabled
        hasTrailing
        label="Disabled"
        supporting="Disabled"
        on:focus={() => console.log('Unexpected event')}
      >
        <InputButton disabled on:click={() => alert('Unexpected event')}>
          <SearchIcon />
        </InputButton>
      </Input>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Disabled With Text" >
      <Input
        disabled
        label="Disabled"
        value="Disabled World"
        on:focus={() => console.log('Unexpected event')}
      />
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Error" >
      <Input error label="Error" supporting="Supporting" />
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Error & Disabled" >
      <Input error disabled label="Error & Disabled" supporting="Should look like disabled" />
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Has class" >
      <Input label="Has class" supporting="Supporting text" class="w-1/2" />
    </svelte:component>
  </StoryLayout>
</svelte:component>
