<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { InputWrapper } from '$lib';

  export let Hst: Hst;
</script>

<svelte:component this={Hst.Story} title="InputWrapper" layout={{ type: 'grid', width: 345 }} >
  <StoryLayout>
    <svelte:component this={Hst.Variant} title="Wrapping a text input" >
      <InputWrapper label="type text">
        <input />
      </InputWrapper>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Wrapping a date input" >
      <InputWrapper label="type date">
        <input type="date" />
      </InputWrapper>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Wrapping a number input" >
      <InputWrapper label="type number">
        <input type="number" />
      </InputWrapper>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Wrapping a textarea" >
      <InputWrapper label="textarea">
        <textarea rows="1" />
      </InputWrapper>
    </svelte:component>
  </StoryLayout>
</svelte:component>
