<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import CheckBoxIcon from '@bucketh/icons/CheckBoxIcon.svelte';
  import PersonIcon from '@bucketh/icons/PersonIcon.svelte';
  import ChevronRightIcon from '@bucketh/icons/ChevronRightIcon.svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { List, ListItem } from '$lib';

  export let Hst: Hst;
</script>


<svelte:component this={Hst.Story} title="List" layout={{ type: 'grid', width: 380 }} >
  <StoryLayout>
    <svelte:component this={Hst.Variant} title="Only headline" >
      <List class="p-2 bg-surface-container-lowest rounded-2xl">
        <ListItem>
          <b>Text</b>
        </ListItem>
        <ListItem>
          <b>Text + Trailing</b>
          <CheckBoxIcon slot="trailing" filled class="text-primary" />
        </ListItem>
        <ListItem interactive>
          <b>Interactive: Text</b>
        </ListItem>
        <ListItem interactive>
          <b>Inveractive: Text + Trailing</b>
          <CheckBoxIcon slot="trailing" filled class="text-primary" />
        </ListItem>
        <hr />
        <ListItem>
          <PersonIcon slot="leading" />
          <b>Leading + Text</b>
        </ListItem>
        <ListItem>
          <PersonIcon slot="leading" />
          <b>Leading + Text + Trailing</b>
          <ChevronRightIcon slot="trailing" />
        </ListItem>
      </List>
    </svelte:component>

    <svelte:component this={Hst.Variant} title="With supporting line text" >
      <List class="p-2 bg-surface-container-lowest rounded-2xl">
        <ListItem>
          <b>Text</b>
          Supporting line text
        </ListItem>
        <ListItem>
          <b>Text + Trailing</b>
          Supporting line text
          <CheckBoxIcon slot="trailing" filled class="text-primary" />
        </ListItem>
        <ListItem interactive>
          <b>interactive: Text</b>
          Supporting line text
        </ListItem>
        <ListItem interactive>
          <b>interactive: Text + Trailing</b>
          Supporting line text
          <CheckBoxIcon slot="trailing" filled class="text-primary" />
        </ListItem>
        <hr />
        <ListItem>
          <PersonIcon slot="leading" />
          <b>Leading + Text</b>
          Supporting line text
        </ListItem>
        <ListItem>
          <PersonIcon slot="leading" />
          <b>Leading + Text + Trailing</b>
          Supporting line text
          <ChevronRightIcon slot="trailing" />
        </ListItem>
      </List>
    </svelte:component>

    <svelte:component this={Hst.Variant} title="A lot of supporting text" >
      <List class="p-2 bg-surface-container-lowest rounded-2xl">
        <ListItem>
          <b>Text</b>
          Supporting line text lorem ipsum dolor sit amet, consectetur.
        </ListItem>
        <ListItem>
          <b>Text + Trailing</b>
          Supporting line text lorem ipsum dolor sit amet, consectetur.
          <CheckBoxIcon slot="trailing" filled class="text-primary" />
        </ListItem>
        <hr />
        <ListItem>
          <PersonIcon slot="leading" />
          <b>Leading + Text</b>
          Supporting line text lorem ipsum dolor sit amet, consectetur.
        </ListItem>
        <ListItem>
          <PersonIcon slot="leading" />
          <b>Leading + Text + Trailing</b>
          Supporting line text lorem ipsum dolor sit amet, consectetur.
          <ChevronRightIcon slot="trailing" />
        </ListItem>
      </List>
    </svelte:component>
  </StoryLayout>
</svelte:component>
