<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import SettingsIcon from '@bucketh/icons/SettingsIcon.svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { Button, Menu, type MenuPositionConfig } from '$lib';
  import MenuItem from '$lib/MenuItem.svelte';

  let menuElement: HTMLUListElement;
  let anchorElement: HTMLButtonElement;

  let visible = true;
  let position: MenuPositionConfig = 'auto'; 
  let prefer1: MenuPositionConfig = 'bottom-left';
  let prefer2: MenuPositionConfig = 'auto';
  let buttonPosition: 'top-left' | 'top-right' | 'bottom-left' | 'bottom-right' | 'center' = 'center';

  $: buttonPosition, visible = false, setTimeout(() => visible = true, 250);

  export let Hst: Hst;
</script>

<svelte:component this={Hst.Story} title="Menu">
  <StoryLayout class="h-screen bg-red-400 p-12">
    <svelte:component this={Hst.Variant} title="Default">
      <Button
        icon
        bind:root={anchorElement}
        on:click={() => visible = !visible}
        class="!absolute transform
          {buttonPosition === 'top-left' && 'top-4 left-4' }
          {buttonPosition === 'top-right' && 'top-4 right-4'}
          {buttonPosition === 'bottom-left' && 'bottom-4 left-4'}
          {buttonPosition === 'bottom-right' && 'bottom-4 right-4'}
          {buttonPosition === 'center' && 'top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2'}
        "
      >
        <SettingsIcon />
      </Button>
      <Menu bind:root={menuElement} bind:visible anchor={anchorElement} {position} prefer={[prefer1, prefer2]}>
        <MenuItem small label="Sign out" />
        <MenuItem small label="Profile" />
        <MenuItem small label="Help" />
        <hr />
        <MenuItem small label="About" />
      </Menu>
      <svelte:fragment slot="">

      </svelte:fragment>
    </svelte:component>
  </StoryLayout>
  <svelte:fragment slot="controls">
    Component controls
    <svelte:component
      this={Hst.Select}
      title="Prefered 1"
      options={['auto', 'top-left', 'top-center', 'top-right', 'right-top', 'right-center', 'right-bottom', 'bottom-right', 'bottom-center', 'bottom-left', 'left-bottom', 'left-center', 'left-top']}
      bind:value={prefer1}
    />
    <svelte:component
      this={Hst.Select}
      title="Prefered 2"
      options={['auto', 'top-left', 'top-center', 'top-right', 'right-top', 'right-center', 'right-bottom', 'bottom-right', 'bottom-center', 'bottom-left', 'left-bottom', 'left-center', 'left-top']}
      bind:value={prefer2}
    />
    <svelte:component
      this={Hst.Select}
      title="Position (forced)"
      options={['auto', 'top-left', 'top-center', 'top-right', 'right-top', 'right-center', 'right-bottom', 'bottom-right', 'bottom-center', 'bottom-left', 'left-bottom', 'left-center', 'left-top']}
      bind:value={position}
    />
    <br />
    Layout controls
    <svelte:component
      this={Hst.Select}
      title="Button position"
      options={['top-left', 'top-right', 'bottom-left', 'bottom-right', 'center']}
      bind:value={buttonPosition}
    />
  </svelte:fragment>
</svelte:component>
