<script lang="ts">
  import { MenuItem, MenuList } from '$lib';
  import CutIcon from '@bucketh/icons/CutIcon.svelte';
  import ShareIcon from '@bucketh/icons/ShareIcon.svelte';
  import ArrowRightIcon from '@bucketh/icons/ArrowRightIcon.svelte';
  import type { Hst } from '@histoire/plugin-svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';

  export let Hst: Hst;

  let size: 'small' | 'normal' | 'large' = 'normal'
</script>

<svelte:component this={Hst.Story} title="MenuList" layout={{ type: 'grid', width: 300 }}>
  <StoryLayout>
    <svelte:component this={Hst.Variant} title="Default">
      <MenuList>
        <MenuItem small={size === 'small'} large={size === 'large'}>Children label</MenuItem>
        <MenuItem small={size === 'small'} large={size === 'large'} label="Label" />
        <MenuItem small={size === 'small'} large={size === 'large'} label="Label" supporting="supporting text" />
        <MenuItem small={size === 'small'} large={size === 'large'} label="Disabled" disabled />
        <hr />
        <MenuItem small={size === 'small'} large={size === 'large'} label="Leading" leading />
        <MenuItem small={size === 'small'} large={size === 'large'} label="Leading Icon">
          <CutIcon slot="leading" />
        </MenuItem>
        <MenuItem small={size === 'small'} large={size === 'large'} label="Trailing Icon">
          <ArrowRightIcon slot="trailing" />
        </MenuItem>
        <MenuItem small={size === 'small'} large={size === 'large'} supporting="supporting text">
          <ShareIcon slot="leading" />
          Full configured
          <ArrowRightIcon slot="trailing" />
        </MenuItem>
      </MenuList>
      <svelte:fragment slot="controls">
        <Hst.Select title="Size" bind:value={size} options={{
          'small': 'small',
          'normal': 'normal (default)',
          'large': 'large'
        }} />
      </svelte:fragment>
    </svelte:component>
  </StoryLayout>
</svelte:component>
