<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import AccountCircleIcon from '@bucketh/icons/AccountCircleIcon.svelte';
  import SettingsIcon from '@bucketh/icons/SettingsIcon.svelte';
  import GroupsIcon from '@bucketh/icons/GroupsIcon.svelte'
  import FavoriteIcon from '@bucketh/icons/FavoriteIcon.svelte';
  import HomeIcon from '@bucketh/icons/HomeIcon.svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { NavBar, NavBarItem } from '$lib';

  export let Hst: Hst;

  /**
   * TODO:
   * - Support for badge (or create a badge wrapper)
   * - Add animations when an item is activated/deactivated https://m3.material.io/components/navigation-bar/guidelines#11e4fa45-9f5f-4f99-a725-591d7c155dcd
   * - Change button color on "focused" state
  */
</script>

<svelte:component this={Hst.Story} title="NavBar" layout={{ type: 'grid', width: 380 }} >
  <StoryLayout>
    <svelte:component this={Hst.Variant} title="Three Items" >
      <NavBar>
        <NavBarItem active>
          <HomeIcon slot="icon" />
          <span slot="label">Home</span>
        </NavBarItem>
        <NavBarItem>
          <AccountCircleIcon slot="icon" />
          <span slot="label">Account</span>
        </NavBarItem>
        <NavBarItem>
          <SettingsIcon slot="icon" />
          <span slot="label">Settings</span>
        </NavBarItem>
      </NavBar>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Five Items" >
      <NavBar>
        <NavBarItem active>
          <HomeIcon slot="icon" />
          <span slot="label">Home</span>
        </NavBarItem>
        <NavBarItem>
          <AccountCircleIcon slot="icon" />
          <span slot="label">Account</span>
        </NavBarItem>
        <NavBarItem>
          <SettingsIcon slot="icon" />
          <span slot="label">Settings</span>
        </NavBarItem>
        <NavBarItem>
          <GroupsIcon slot="icon" />
          <span slot="label">Groups</span>
        </NavBarItem>
        <NavBarItem>
          <FavoriteIcon slot="icon" />
          <span slot="label">Favorites</span>
        </NavBarItem>
      </NavBar>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Without label" >
      <NavBar>
        <NavBarItem active>
          <HomeIcon slot="icon" />
        </NavBarItem>
        <NavBarItem>
          <AccountCircleIcon slot="icon" />
        </NavBarItem>
        <NavBarItem>
          <SettingsIcon slot="icon" />
        </NavBarItem>
      </NavBar>
    </svelte:component>
  </StoryLayout>
</svelte:component>
