<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import MenuIcon from '@bucketh/icons/MenuIcon.svelte';
  import InboxIcon from '@bucketh/icons/InboxIcon.svelte';
  import OutboxIcon from '@bucketh/icons/OutboxIcon.svelte';
  import DeleteIcon from '@bucketh/icons/DeleteIcon.svelte';
  import FolderIcon from '@bucketh/icons/FolderIcon.svelte';
  import FavoriteIcon from '@bucketh/icons/FavoriteIcon.svelte';
  import CoronavirusIcon from '@bucketh/icons/CoronavirusIcon.svelte';
  import RocketLaunchIcon from '@bucketh/icons/RocketLaunchIcon.svelte'
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { NavDrawer, NavDrawerItem, NavDrawerHeader, Button } from '$lib';

  export let Hst: Hst;

  let visible = false;
</script>

<svelte:component this={Hst.Story} title="NavDrawer">
  <StoryLayout class="h-screen">
    <svelte:component this={Hst.Variant} title="Simple" >
      <NavDrawer>
        <NavDrawerHeader>
          Bucketh Mail
        </NavDrawerHeader>
        <NavDrawerItem active>
          <InboxIcon slot="icon" />
          <span slot="label">Inbox</span>
          <span slot="badge">99+</span>
        </NavDrawerItem>
        <NavDrawerItem>
          <OutboxIcon slot="icon" />
          <span slot="label">Outbox</span>
        </NavDrawerItem>
        <NavDrawerItem>
          <FavoriteIcon slot="icon" />
          <span slot="label">Favorites</span>
        </NavDrawerItem>
        <NavDrawerItem>
          <DeleteIcon slot="icon" />
          <span slot="label">Trash</span>
        </NavDrawerItem>
      </NavDrawer>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="With section headers" >
      <NavDrawer>
        <NavDrawerHeader>
          Bucketh Mail
        </NavDrawerHeader>
        <NavDrawerItem active>
          <InboxIcon slot="icon" />
          <span slot="label">Inbox</span>
          <span slot="badge">99+</span>
        </NavDrawerItem>
        <NavDrawerItem>
          <OutboxIcon slot="icon" />
          <span slot="label">Outbox</span>
        </NavDrawerItem>
        <NavDrawerItem>
          <FavoriteIcon slot="icon" />
          <span slot="label">Favorites</span>
        </NavDrawerItem>
        <NavDrawerItem>
          <DeleteIcon slot="icon" />
          <span slot="label">Trash</span>
        </NavDrawerItem>
        <hr />
        <NavDrawerHeader>
          Personal Folders
        </NavDrawerHeader>
        <NavDrawerItem>
          <FolderIcon slot="icon" />
          <span slot="label">Friends</span>
        </NavDrawerItem>
        <NavDrawerItem>
          <FolderIcon slot="icon" />
          <span slot="label">Volunteering</span>
        </NavDrawerItem>
        <NavDrawerItem>
          <FolderIcon slot="icon" />
          <span slot="label">Works</span>
        </NavDrawerItem>
        <hr />
        <NavDrawerHeader>
          Super Features
        </NavDrawerHeader>
        <NavDrawerItem>
          <RocketLaunchIcon slot="icon" />
          <span slot="label">Expedition To Mars</span>
        </NavDrawerItem>
        <NavDrawerItem>
          <CoronavirusIcon slot="icon" />
          <span slot="label">Release T Virus</span>
        </NavDrawerItem>
      </NavDrawer>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Modal">
      <Button icon on:click={() => visible = true}>
        <MenuIcon />
      </Button>
      <NavDrawer modal bind:visible>
        <NavDrawerHeader>
          Bucketh Mail
        </NavDrawerHeader>
        <NavDrawerItem active>
          <InboxIcon slot="icon" />
          <span slot="label">Inbox</span>
          <span slot="badge">99+</span>
        </NavDrawerItem>
        <NavDrawerItem>
          <OutboxIcon slot="icon" />
          <span slot="label">Outbox</span>
        </NavDrawerItem>
        <NavDrawerItem>
          <FavoriteIcon slot="icon" />
          <span slot="label">Favorites</span>
        </NavDrawerItem>
        <NavDrawerItem>
          <DeleteIcon slot="icon" />
          <span slot="label">Trash</span>
        </NavDrawerItem>
      </NavDrawer>
    </svelte:component>
  </StoryLayout>
</svelte:component>
