<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import SearchIcon from '@bucketh/icons/SearchIcon.svelte';
  import HistoryIcon from '@bucketh/icons/HistoryIcon.svelte';
  import LocationOnIcon from '@bucketh/icons/LocationOnIcon.svelte';
  import DirectionsBusIcon from '@bucketh/icons/DirectionsBusIcon.svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { ListItem, Search, InputButton } from '$lib';

  export let Hst: Hst;

  let open = false;
  let value = 'ciudad';
  let clearable = true;
</script>

<svelte:component this={Hst.Story} title="Search">
  <svelte:component this={Hst.Variant} title="Search">
    <StoryLayout class="h-screen bg-transparent">
      <Search
        {open}
        {clearable}
        hasLeading
        placeholder="Placeholder"
        bind:value
        on:show={() => open = true}
        on:hide={() => open = false}
        on:clear={() => {
          value = ''
          clearable = false;
        }}
      >
        <InputButton slot="icons" leading class="pointer-events-none">
          <SearchIcon />
        </InputButton>
        <ListItem>
          <HistoryIcon slot="leading" />
          <b>Monterrey, Nuevo León</b>
        </ListItem>
        <ListItem>
          <HistoryIcon slot="leading" />
          <b>Guadalajara, Jalisco</b>
        </ListItem>
        <ListItem>
          <HistoryIcon slot="leading" />
          <b>León, Guanajuato</b>
        </ListItem>
        <div class="pl-4 text-title-small text-on-surface-variant">
          Resultados
        </div>
        <ListItem>
          <LocationOnIcon slot="leading" />
          <b>Ciudad de México</b>
          Todas las terminales
        </ListItem>
        <ListItem>
          <LocationOnIcon slot="leading" />
          <b>La Ciudad</b>
          Durango - Todas las terminales
        </ListItem>
        <ListItem>
          <DirectionsBusIcon slot="leading" />
          <b>La Ciudad</b>
          Durango - Terminal la ciudad GEB
        </ListItem>
        <ListItem>
          <LocationOnIcon slot="leading" />
          <b>Ciudad Mier</b>
          Tamaulipas - Todas las terminales
        </ListItem>
        <ListItem>
          <DirectionsBusIcon slot="leading" />
          <b>Ciudad Mier</b>
          Tamaulipas - Ciudad Mier
        </ListItem>
        <ListItem>
          <LocationOnIcon slot="leading" />
          <b>Ciudad Juárez</b>
          Chihuahua - Todas las terminales
        </ListItem>
      </Search>
    </StoryLayout>
  </svelte:component>
  <svelte:fragment slot="controls">
    <svelte:component
      this={Hst.Text}
      title="value"
      bind:value
    />
    <svelte:component
      this={Hst.Checkbox}
      title="open"
      bind:value={open}
    />
    <svelte:component
      this={Hst.Checkbox}
      title="clearable"
      bind:value={clearable}
    />
  </svelte:fragment>
</svelte:component>
