<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { Spin } from '$lib';

  export let Hst: Hst;
</script>

<svelte:component this={Hst.Story} title="Spin" layout={{ type: 'grid', width: 300 }} >
  <StoryLayout class="flex justify-between">
    <svelte:component this={Hst.Variant} title="Default" >
      <Spin class="text-primary" />
      <Spin class="text-error" />
      <Spin class="text-outline" />
      <Spin class="text-outline-variant" />
    </svelte:component>
  </StoryLayout>
</svelte:component>
