<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import DoneIcon from '@bucketh/icons/DoneIcon.svelte';
  import CloseIcon from '@bucketh/icons/CloseIcon.svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { Switch } from '$lib';

  export let Hst: Hst;

  let iconValue = true;
</script>

<svelte:component this={Hst.Story} title="Switch" layout={{ type: 'grid', width: 250 }} >
  <StoryLayout>
    <svelte:component this={Hst.Variant} title="Single" >
      <Switch value />
    </svelte:component>
    <svelte:component this={Hst.Variant} title="With label" >
      <Switch class="w-full">
        Label
      </Switch>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="With multiline label" >
      <Switch class="w-full">
        <div class="text-body-large font-bold">Label</div>
        <div class="text-body-medium text-on-surface-variant">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit        
        </div>
      </Switch>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="With icons and label" >
      <Switch class="w-full" bind:value={iconValue}>
        {iconValue ? ':)' : ':('}
        <CloseIcon slot="unselected" />
        <DoneIcon slot="selected" />
      </Switch>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Manual state" >
      <Switch manual />
      <Switch manual value />
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Disabled" >
      <Switch disabled />
      <Switch disabled value />
    </svelte:component>
  </StoryLayout>
</svelte:component>
