<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import MusicNoteIcon from '@bucketh/icons/MusicNoteIcon.svelte';
  import VideocamIcon from '@bucketh/icons/VideocamIcon.svelte';
  import ImageIcon from '@bucketh/icons/ImageIcon.svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { Tabs, Tab } from '$lib';

  export let Hst: Hst;
</script>

<svelte:component this={Hst.Story} title="Tabs" layout={{ type: 'grid', width: 400 }} >
  <StoryLayout>
    <svelte:component this={Hst.Variant} title="Primary" >
      <Tabs value="video">
        <Tab id="video" label="Video">
          <VideocamIcon />
        </Tab>
        <Tab id="photos" label="Photos">
          <ImageIcon />
        </Tab>
        <Tab id="audio" label="Audio">
          <MusicNoteIcon />
        </Tab>
      </Tabs>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Primary - Only text" >
      <Tabs value="video">
        <Tab id="video" label="Video" />
        <Tab id="photos" label="Photos" />
        <Tab id="audio" label="Audio" />
      </Tabs>
    </svelte:component>
  </StoryLayout>
</svelte:component>
