<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import SearchIcon from '@bucketh/icons/SearchIcon.svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { TextField } from '$lib';

  export let Hst: Hst;

  let variant: 'filled' | 'outlined' = 'outlined';
  let disabled = false;
  let error = false;
  let supporting = 'Supporting text';
  let label = 'Label';
  let populateLabel = false;
  let controlled = false;
  let value = '';
  let readonly = false;

  const log = (name: string, data: any = null) => console.log(`[${name}]`, data);

  const logInput = ({ detail }: any) => log('on:input', detail);
  const logChange = ({ currentTarget }: any) => log('on:change', currentTarget.value);
</script>

<svelte:component this={Hst.Story} title="TextField" layout={{ type: 'grid', width: 345 }} >
  <svelte:component this={Hst.Variant} title="Basic">
    <StoryLayout>
      <TextField
        {variant}
        {disabled}
        {error}
        {supporting}
        {label}
        {populateLabel}
        {controlled}
        {readonly}
        bind:value
        on:input={logInput}
        on:change={logChange}
      />
    </StoryLayout>
  </svelte:component>
  <svelte:component this={Hst.Variant} title="With leading">
    <StoryLayout>
      <TextField
        {variant}
        {disabled}
        {error}
        {supporting}
        {label}
        {populateLabel}
        {controlled}
        {readonly}
        bind:value
        on:input={logInput}
        on:change={logChange}
      >
        <button slot="leading">
          <SearchIcon />
        </button>
      </TextField>
    </StoryLayout>
  </svelte:component>
  <svelte:fragment slot="controls">
    <svelte:component this={Hst.Select} bind:value={variant} title="variant" options={['filled', 'outlined']} />
    <svelte:component this={Hst.Checkbox} bind:value={error} title="error" />
    <svelte:component this={Hst.Checkbox} bind:value={disabled} title="disabled" />
    <svelte:component this={Hst.Text} bind:value={supporting} title="supporting" />
    <svelte:component this={Hst.Text} bind:value={label} title="label" />
    <svelte:component this={Hst.Checkbox} bind:value={populateLabel} title="populateLabel" />
    <svelte:component this={Hst.Checkbox} bind:value={controlled} title="controlled" />
    <svelte:component this={Hst.Checkbox} bind:value={readonly} title="readonly" />
    <svelte:component this={Hst.Text} bind:value={value} title="value" />
  </svelte:fragment>
</svelte:component>
