<script lang="ts">
  import type { Hst } from '@histoire/plugin-svelte';
  import MenuIcon from '@bucketh/icons/MenuIcon.svelte';
  import AccountCircleIcon from '@bucketh/icons/AccountCircleIcon.svelte';
  import ArrowBackIcon from '@bucketh/icons/ArrowBackIcon.svelte';
  import AttachFileIcon from '@bucketh/icons/AttachFileIcon.svelte';
  import TodayIcon from '@bucketh/icons/TodayIcon.svelte';
  import MoreVertIcon from '@bucketh/icons/MoreVertIcon.svelte';
  import StoryLayout from './helpers/StoryLayout.svelte';
  import { TopAppBar } from '$lib';

  export let Hst: Hst;

  let elevated = false;
</script>

<!-- 
TODO:
- Add missing variants ```export let size: 'small' | 'medium' | 'large' = 'small';```
-->

<svelte:component this={Hst.Story} title="TopAppBar" layout={{ type: 'grid', width: 412 }}>
  <StoryLayout>
    <svelte:component this={Hst.Variant} title="Simple">
      <TopAppBar {elevated}>
        <div class="title">
          Simple
        </div>
      </TopAppBar>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Small Centered">
      <TopAppBar {elevated}>
        <button class="center-title">
          <MenuIcon />
        </button>
        <div class="text-center text-title-large">
          Small Centered
        </div>
        <button class="trailing">
          <AccountCircleIcon filled />
        </button>
      </TopAppBar>
    </svelte:component>
    <svelte:component this={Hst.Variant} title="Small Left">
      <TopAppBar {elevated}>
        <button class="leading">
          <ArrowBackIcon />
        </button>
        <div class="title">
          Small Left
        </div>
        <div class="trailing">
          <button class="trailing">
            <AttachFileIcon />
          </button>
          <button class="trailing">
            <TodayIcon />
          </button>
          <button class="trailing">
            <MoreVertIcon />
          </button>
        </div>
      </TopAppBar>
    </svelte:component>
  </StoryLayout>

  <svelte:fragment slot="controls">
    <svelte:component this={Hst.Checkbox} bind:value={elevated} title="Elevated" />
  </svelte:fragment>
</svelte:component>
